Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

remove unused method
  timary/models.py
  timary/tasks.py
Due: django-check, django-check-migrations, django-tests

Add weekly invoice type (#20)
  timary/forms.py
  timary/migrations/0001_initial.py
  timary/migrations/0010_rename_hourly_rate_invoice_invoice_rate_and_more.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templatetags/filters.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/basetest.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

update reset values
  timary/templates/invoices/manage_invoices.html
Due: none

fix migrations
  timary/migrations/0001_initial.py
  timary/migrations/0010_rename_hourly_rate_invoice_invoice_rate_and_more.py
Due: django-check, django-tests

fix small bugs
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/index.html
  timary/tests/test_emails.py
  timary/views/invoices.py
Due: django-check, django-tests

WIP: Calculate stats
  timary/querysets.py
  timary/views/main.py
Due: django-check, django-tests

fix create invoice template
  timary/templates/invoices/manage_invoices.html
Due: none

WIP: Improve graph data calculation
  timary/models.py
Due: django-check, django-check-migrations, django-tests

WIP: Create hour stats class
  timary/views/main.py
Due: django-check, django-tests

cleanup hour stats logic
  timary/models.py
  timary/querysets.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

add tests
  timary/querysets.py
  timary/tests/test_querysets.py
Due: django-check, django-tests

remove unneeded code
  timary/models.py
Due: django-check, django-check-migrations, django-tests

Calculate hour stats (#22)
  timary/models.py
  timary/querysets.py
  timary/tests/test_querysets.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

account for weekly invoices
  timary/querysets.py
  timary/tests/test_querysets.py
Due: django-check, django-tests

fix queryset logic
  timary/models.py
  timary/querysets.py
  timary/tests/test_querysets.py
Due: django-check, django-check-migrations, django-tests

exclude failed sent invoics in hour stats
  timary/querysets.py
Due: django-check, django-tests

add tests for weekly last 6 months
  timary/models.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

improve graph logic for normal invoices
  timary/models.py
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

pass user id to log user in after stripe coomplete webhook
  timary/services/stripe_service.py
  timary/templates/mobile/index.xml
  timary/tests/test_views/test_stripe_views.py
  timary/views/mobile.py
  timary/views/stripe_views.py
Due: django-check, django-tests

POC: Using hyperview to create a mobile app
  timary/templates/mobile/index.xml
  timary/urls.py
  timary/views/__init__.py
  timary/views/mobile.py
Due: django-check, django-tests

Add drf + token + xml support. Plus add mobile home view to redirect after successful login
  requirements.in
  requirements.txt
  timary/signals.py
  timary/templates/mobile/home.xml
  timary/templates/mobile/index.xml
  timary/templates/mobile/login-form.xml
  timary/urls.py
  timary/views/__init__.py
  timary/views/auth.py
  timary/views/mobile.py
  timaryproject/settings.py
Due: django-check, django-tests

fix bug that did not send monday weekly invoices
  timary/models.py
  timary/tasks.py
  timary/tests/test_emails.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

cleanup code
  timary/services/accounting_service.py
  timary/templates/mobile/index.xml
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templatetags/filters.py
  timary/tests/test_views/test_invoices.py
  timary/views/mobile.py
Due: django-check, django-tests

tighten logic for twilio webhook
  timary/models.py
  timary/services/twilio_service.py
  timary/tests/factories.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

add stopwatch for marketing
  timary/templates/contract/builder.html
  timary/templates/partials/_invoice.html
  timary/templates/stopwatch.html
  timary/urls.py
  timary/views/main.py
  timary/views/twilio_views.py
Due: django-check, django-tests

fix bug
  timary/templates/contract/builder.html
Due: none

add upperbound for sms hours
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

check if latest message has invoice title
  timary/views/twilio_views.py
Due: django-check, django-tests

send complete message if hours are logged after all have been entered
  timary/services/twilio_service.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

resolve sentry bug
  timary/views/twilio_views.py
Due: django-check, django-tests

fix minor petpeave
  timary/templates/email/weekly_update_email.html
Due: none

fix annoying datepicker on safari bug
  timary/templates/hours/_create.html
  timary/templates/timary/base.html
Due: none

add test profile screen
  timary/templates/mobile/_login_form.xml
  timary/templates/mobile/index.xml
  timary/templates/mobile/profile.xml
  timary/urls.py
  timary/views/auth.py
  timary/views/mobile.py
Due: django-check, django-tests

WIP: Add auth
  timary/templates/mobile/_login_form.xml
  timary/views/auth.py
  timary/views/mobile.py
Due: django-check, django-tests

forgot to send back the auth tokens.
  timary/services/accounting_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

get ios header
  timary/templates/mobile/home.xml
  timary/templates/mobile/profile.xml
  timary/views/mobile.py
Due: django-check, django-tests

refactor header template
  timary/templates/mobile/header/_header.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/home.xml
  timary/templates/mobile/profile.xml
Due: none

add edit profile screen
  timary/templates/mobile/_primary_button_styles.xml
  timary/templates/mobile/edit-profile/edit_profile.xml
  timary/templates/mobile/edit-profile/edit_profile_form.xml
  timary/templates/mobile/edit-profile/edit_profile_styles.xml
  timary/templates/mobile/header/_header.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/home.xml
  timary/templates/mobile/profile.xml
  timary/templates/mobile/profile/_profile.xml
  timary/templates/mobile/profile/profile.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

update profile styles
  timary/templates/mobile/_primary_button_styles.xml
  timary/templates/mobile/edit-profile/edit_profile_styles.xml
Due: none

cleanup styles + match web app
  timary/templates/mobile/_primary_button_styles.xml
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/edit-profile/edit_profile.xml
  timary/templates/mobile/edit-profile/edit_profile_form.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/home.xml
  timary/templates/mobile/profile/_profile.xml
  timary/templates/mobile/profile/profile.xml
Due: none
