Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

update pre-commit file
  .pre-commit-config.yaml
  timary/templates/partials/_sent_invoice.html
  timary/templates/timary/profile.html
Due: none

WIP: Prototype using hyperscript
  timary/templates/contract/builder.html
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

Add more user/client fields
  timary/templates/contract/builder.html
Due: none

add django-reload package + add more fields
  timary/templates/contract/builder.html
  timary/views/main.py
  timaryproject/settings.py
  timaryproject/urls.py
Due: django-check, django-tests

fix pdf output
  timary/templates/contract/builder.html
  timary/urls.py
Due: django-check, django-tests

update requirements
  requirements.in
  requirements.txt
Due: none

fix page breaks
  timary/templates/contract/builder.html
Due: none

add remaing legalize for contract
  timary/templates/contract/builder.html
Due: none

cleanup contract ui
  timary/templates/contract/builder.html
Due: none

add tests for accounting services
  requirements.in
  requirements.txt
  timary/tests/test_services/__init__.py
  timary/tests/test_services/test_quickbooks.py
Due: django-check, django-tests

add quickbooks service tests
  timary/tests/test_services/test_quickbooks.py
Due: django-check, django-tests

add freshbooks service tests
  timary/tests/test_services/test_freshbooks.py
Due: django-check, django-tests

add zoho service tests
  timary/tests/test_services/test_zoho.py
Due: django-check, django-tests

add xero service tests
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
Due: django-check, django-tests

add sage service tests
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
Due: django-check, django-tests

Add accounting services tests (#10)
  requirements.in
  requirements.txt
  timary/tests/test_services/__init__.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
Due: django-check, django-tests

cleanup review page
  timary/templates/contract/builder.html
Due: none

add cta to Timary landing page
  timary/templates/contract/builder.html
Due: none

Finally get the signature to render on pdf
  timary/templates/contract/builder.html
Due: none

Contract builder (#9)
  requirements.in
  requirements.txt
  timary/templates/contract/builder.html
  timary/urls.py
  timary/views/main.py
  timaryproject/settings.py
  timaryproject/urls.py
Due: django-check, django-tests

highlight to use Chrome for contract builder
  timary/templates/contract/builder.html
Due: none

add option to generate invoice on demand
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

send invoice async
  timary/views/invoices.py
Due: django-check, django-tests

update invoice monthly stats to consider larger data
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

send contract by email instead of generating client side
  timary/forms.py
  timary/templates/contract/builder.html
  timary/templates/contract/contract_pdf.html
  timary/views/main.py
Due: django-check, django-tests

add sent invoice id to hours model to improve filter
  timary/migrations/0011_dailyhoursinput_sent_invoice_id.py
  timary/models.py
  timary/tasks.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

add test for invoice hours tracked
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

group hours by day in main view
  timary/form_helpers.py
  timary/templates/partials/_hour.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests

add home link to navbar
  timary/templates/partials/_navbar.html
Due: none

only refresh list, not entire page
  timary/form_helpers.py
  timary/templates/partials/_invoice_list.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests

update empty state for today slot
  timary/templates/partials/_invoice_list.html
Due: none

update anayltics page in admin
  timary/admin.py
  timary/migrations/0012_auto_20220429_2032.py
  timary/models.py
  timary/templates/admin/analytics.html
  timary/templates/admin/custom_app_list.html
  timary/templates/admin/custom_page.html
Due: django-check, django-check-migrations, django-tests

keep track of contracts generated
  timary/admin.py
  timary/migrations/0013_contract.py
  timary/models.py
  timary/templates/admin/analytics.html
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

get form cleaned data for contracts
  timary/views/main.py
Due: django-check, django-tests

group sent invoices by invoice title
  timary/templates/partials/_sent_invoice.html
  timary/templates/timary/profile.html
  timary/views/profile.py
Due: django-check, django-tests

set django message tags to daisy ui alert classes
  timary/templates/partials/_navbar.html
  timary/views/accounting_views.py
  timaryproject/settings.py
Due: django-check, django-tests

consolidate email logic
  timary/admin.py
  timary/services/email_service.py
  timary/tasks.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/stripe_views.py
Due: django-check, django-tests

force white background in contract email
  timary/templates/contract/contract_pdf.html
Due: none

allow time to be entered in hours input
  timary/form_helpers.py
  timary/forms.py
  timary/templates/partials/_invoice.html
  timary/templates/timary/index.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix ux issue when hours create form returns error
  timary/forms.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/timary/index.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_main.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests
