Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

make sure errors render for edit hours form
  timary/templates/partials/_form_errors.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_profiles.py
  timary/views/hours.py
Due: django-check, django-tests

clear modal forms when closing
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/index.html
Due: none

don't allow titles to start with a number
  timary/forms.py
  timary/tests/test_forms.py
Due: django-check, django-tests

run ui tests in github actions
  .github/workflows/.github-actions.yml
  timaryproject/settings.py
Due: django-check, django-tests

install webkit deps
  .github/workflows/.github-actions.yml
Due: none

remove ui tests from github actions
  .github/workflows/.github-actions.yml
  timaryproject/settings.py
Due: django-check, django-tests

show button to repeat previous days
  timary/models.py
  timary/templates/partials/_hours_grid.html
  timary/templates/partials/_hours_list.html
  timary/templates/timary/index.html
  timary/tests/test_models.py
  timary/tests/test_views/test_hours.py
  timary/urls.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

remove invoice delete view and hide hours edit/remove for invoiced hours
  timary/templates/partials/_hour.html
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

allow to view invoice data even if no hours logged
  timary/models.py
  timary/templates/partials/_invoice.html
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

Show total money made in last 6 months graph
  timary/models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

WIP: poc edit hours modal in invoices list
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

allow hours for invoice session to be updated
  timary/form_helpers.py
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_form_success.html
  timary/templates/partials/_invoice.html
  timary/urls.py
  timary/utils.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

update invoice hours stats when hour updated/deleted
  timary/form_helpers.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/urls.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

fix ui for mobile
  timary/form_helpers.py
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
Due: django-check, django-tests

fix timer and new hours form bugs
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/timer_class.html
  timary/templates/timary/index.html
Due: none

fix sage sync logic
  timary/views/accounting_views.py
Due: django-check, django-tests

add edit invoice hours test
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

add ui test for editing hours within invoice
  timary/tests/test_e2e.py
Due: django-check, django-tests

Edit hours invoice view (#11)
  timary/form_helpers.py
  timary/forms.py
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_form_success.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/templates/partials/timer_class.html
  timary/templates/timary/index.html
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/utils.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

remove invoice hours details from modal
  timary/templates/invoices/manage_invoices.html
Due: none

fix timer not populating hours modal value
  timary/templates/timary/index.html
Due: none

check xero for valid contacts key when creating customers
  timary/services/xero_service.py
Due: django-check, django-tests

add link to edit hours in invoice preview email
  timary/management/commands/generate_invoice_preview_email.py
  timary/tasks.py
  timary/templates/email/sneak_peak_invoice_email.html
Due: django-check, django-tests

show dynamic alert messages w/ htmx
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/utils.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/profile.py
  timary/views/settings.py
  timaryproject/settings.py
Due: django-check, django-tests

add success message when invoice is updated
  timary/views/invoices.py
Due: django-check, django-tests

fix bug that updated last date and didn't include past hours tracked when unpaused
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests

update webhook to only check if sent invoice is valid
  timary/views/stripe_views.py
Due: django-check, django-tests

fix hours section not updating when generating invoice
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

send error confirmation email
  timary/custom_errors.py
Due: django-check, django-tests

raise error if auth tokens are not found
  timary/custom_errors.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
  timary/views/accounting_views.py
Due: django-check, django-tests

send weekly progress email
  timary/tasks.py
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

cleanup js and use hyperscript/htmx
  timary/form_helpers.py
  timary/forms.py
  timary/models.py
  timary/templates/email/weekly_update_email.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_edit_hours.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templates/timary/landing_page.html
  timary/tests/test_models.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/hours.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup code
  timary/templates/partials/settings/_edit_membership.html
  timary/views/stripe_views.py
Due: django-check, django-tests

send email receipt when invoice paid
  timary/models.py
  timary/templates/email/styled_email.html
  timary/templates/invoices/success_pay_invoice.html
  timary/tests/test_models.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

support profile pics
  timary/form_helpers.py
  timary/forms.py
  timary/migrations/0014_user_profile_pic.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_profile.html
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

fix migrations
  requirements.in
  requirements.txt
  timary/migrations/0001_squashed_0010_auto_20220416_1703.py
  timary/migrations/0002_alter_user_membership_tier.py
  timary/migrations/0003_alter_user_membership_tier.py
  timary/migrations/0004_auto_20220319_2137.py
  timary/migrations/0005_auto_20220319_2015.py
  timary/migrations/0006_auto_20220322_1910.py
  timary/migrations/0007_auto_20220328_1948.py
  timary/migrations/0008_alter_sentinvoice_invoice.py
  timary/migrations/0009_invoice_email_recipient_stripe_customer_id.py
  timary/migrations/0010_auto_20220416_1703.py
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

update requirements file
  requirements.in
  requirements.txt
Due: none

WIP: Custom invoice branding
  timary/migrations/0015_user_invoice_branding.py
  timary/models.py
  timary/templates/email/styled_email.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/_settings.html
  timary/tests/test_models.py
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

fix migrations
  timary/migrations/0001_squashed_0010_auto_20220416_1703.py
  timary/migrations/0002_dailyhoursinput_sent_invoice_id.py
  timary/migrations/0003_auto_20220429_2032.py
  timary/migrations/0004_contract.py
  timary/migrations/0005_user_profile_pic.py
  timary/migrations/0006_user_invoice_branding.py
Due: django-check, django-tests

revert migration
  timary/migrations/0006_user_invoice_branding.py
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
