Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

count hour's timezone when calculate whether to repeat or not
  timary/models.py
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-check-migrations, django-tests

add django-waffle for flag features
  requirements.in
  requirements.txt
  staticfiles/css/dist/styles.ad1cbfba5247.css
  staticfiles/css/dist/styles.ad1cbfba5247.css.br
  staticfiles/css/dist/styles.ad1cbfba5247.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/_base_card.html
  timary/tests/test_views/basetest.py
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add view expenses feature flag for single invoices
  timary/templates/invoices/_base_card.html
  timary/templates/partials/_single_invoice.html
Due: none

add expense model + views + templates
  timary/forms.py
  timary/migrations/0053_expenses.py
  timary/models.py
  timary/templates/expenses/_form.html
  timary/templates/expenses/list.html
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_expense.html
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/expenses.py
Due: django-check, django-check-migrations, django-tests

add tests for expenses
  timary/tests/factories.py
  timary/tests/test_views/test_expenses.py
  timary/views/expenses.py
Due: django-check, django-tests

fix expenses modal
  timary/templates/expenses/_form.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_expense.html
  timary/templates/partials/_single_invoice.html
Due: none

allow archived invoices to view/set expenese
  timary/templates/partials/_archive_invoice.html
Due: none

cleanup manage expenses list ui
  timary/templates/expenses/list.html
  timary/templates/invoices/manage_invoices.html
Due: none

fix datetime util diff bug
  timary/models.py
  timary/utils.py
Due: django-check, django-check-migrations, django-tests

add date tracked to expenses form
  staticfiles/css/dist/styles.63ec9e947539.css
  staticfiles/css/dist/styles.63ec9e947539.css.br
  staticfiles/css/dist/styles.63ec9e947539.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/expenses/_form.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_expense.html
  timary/tests/test_views/test_expenses.py
  timary/views/expenses.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

show tax numbers when switch for year is created and turned on
  timary/templates/partials/settings/account/_view_tax_center.html
Due: none

show empty clients list message
  timary/forms.py
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/single_invoice.html
Due: django-check, django-tests

improve tax center to display important numbers for taxes
  timary/templates/partials/_tax_year.html
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_view_tax_center.html
  timary/views/settings.py
Due: django-check, django-tests

move tax info to dedicated page
  timary/templates/partials/_tax_year.html
  timary/templates/partials/settings/account/_view_tax_center.html
  timary/templates/taxes/tax_year.html
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-tests

remove tax center, revisit later
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_tax_center.html
  timary/templates/partials/settings/account/_view_tax_center.html
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-tests

update landing page faqs
  timary/templates/timary/landing_page.html
Due: none

update expense form ui
  staticfiles/css/dist/styles.eceb80393ae2.css
  staticfiles/css/dist/styles.eceb80393ae2.css.br
  staticfiles/css/dist/styles.eceb80393ae2.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/expenses/_form.html
  timary/templates/expenses/list.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_expense.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add profit/loss summary under bookkeeping section in profile
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/bookkeeping/_accounting.html
  timary/templates/partials/settings/bookkeeping/_bookkeeping.html
  timary/templates/partials/settings/bookkeeping/_edit_accounting.html
  timary/templates/partials/settings/bookkeeping/_tax_center.html
  timary/templates/taxes/_tax_summary.html
  timary/templates/timary/profile.html
  timary/tests/test_views/test_profiles.py
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/settings.py
Due: django-check, django-tests

convert spreadsheet download to csv
  timary/admin.py
  timary/models.py
  timary/templates/taxes/_tax_summary.html
  timary/utils.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

calc profit only for paid invoices
  timary/utils.py
  timary/views/settings.py
Due: django-check, django-tests

fix single invoice expenses bug
  timary/templates/partials/_single_invoice.html
Due: none

update pricing details
  timary/templates/auth/register.html
  timary/templates/timary/landing_page.html
Due: none

add sms time tracking img
  Makefile
  static/timary/landing_page/sms_time_tracking.png
  staticfiles/staticfiles.json
  staticfiles/timary/landing_page/sms_time_tracking.eca471449a39.png
  staticfiles/timary/landing_page/sms_time_tracking.png
  timary/templates/timary/landing_page.html
Due: none

show pending invoices instead of ytd stats
  timary/hours_manager.py
  timary/querysets.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hours_list.html
  timary/tests/test_querysets.py
  timary/tests/test_views/test_main.py
  timary/views/main.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add offline/online support when timer is paused/stopped to prevent resuming
  timary/templates/partials/_navbar.html
Due: none

add offline message
  timary/templates/timary/base.html
Due: none

add search and filters to admin
  timary/admin.py
Due: django-check, django-tests

small ui tweak
  timary/templates/invoices/invoice_branding.html
Due: none

update download invoice pdf
  timary/models.py
  timary/templates/invoices/print/print.css
  timary/templates/invoices/print/print.html
  timary/views/sent_invoices.py
Due: django-check, django-check-migrations, django-tests

Update print.html
  timary/templates/invoices/print/print.html
Due: none

add changing page titles
  timary/context_processors.py
  timary/templates/timary/base.html
  timary/templates/timary/landing_page.html
  timaryproject/settings.py
Due: django-check, django-tests

Add hours calendar view
  staticfiles/css/dist/styles.0597a54fbbe5.css
  staticfiles/css/dist/styles.0597a54fbbe5.css.br
  staticfiles/css/dist/styles.0597a54fbbe5.css.gz
  staticfiles/css/dist/styles.ac57bddbc332.css
  staticfiles/css/dist/styles.ac57bddbc332.css.br
  staticfiles/css/dist/styles.ac57bddbc332.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/index.html
  timary/urls.py
  timary/utils.py
  timary/views/main.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

hide earnings legend in invoice collapsed view
  timary/templates/invoices/_base_card.html
Due: none

update profit loss summary to pdf
  timary/templates/invoices/print/print.html
  timary/templates/taxes/_tax_summary.html
  timary/templates/taxes/profit_loss_summary/summary.css
  timary/templates/taxes/profit_loss_summary/summary.html
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-tests

update packages
  requirements.txt
Due: none

use django-q2 instead of deprecated django-q
  requirements.in
  requirements.txt
Due: none

Add proposals
  staticfiles/css/dist/styles.81b0d0fe180c.css
  staticfiles/css/dist/styles.81b0d0fe180c.css.br
  staticfiles/css/dist/styles.81b0d0fe180c.css.gz
  staticfiles/css/dist/styles.ac57bddbc332.css
  staticfiles/css/dist/styles.ac57bddbc332.css.br
  staticfiles/css/dist/styles.ac57bddbc332.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0054_proposal.py
  timary/models.py
  timary/templates/clients/_client.html
  timary/templates/proposals/_create.html
  timary/templates/proposals/_update.html
  timary/templates/proposals/base_form.html
  timary/urls.py
  timary/views/__init__.py
  timary/views/proposals.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

Move action buttons to update template
  staticfiles/css/dist/styles.019835e3e4a6.css
  staticfiles/css/dist/styles.019835e3e4a6.css.br
  staticfiles/css/dist/styles.019835e3e4a6.css.gz
  staticfiles/css/dist/styles.81b0d0fe180c.css
  staticfiles/css/dist/styles.81b0d0fe180c.css.br
  staticfiles/css/dist/styles.81b0d0fe180c.css.gz
  staticfiles/staticfiles.json
  timary/templates/clients/_client.html
  timary/templates/proposals/_create.html
  timary/templates/proposals/_update.html
  timary/templates/proposals/base_form.html
  timary/views/proposals.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Add send to client and download pdf for proposals
  timary/migrations/0054_proposal.py
  timary/models.py
  timary/templates/proposals/_update.html
  timary/templates/proposals/base_form.html
  timary/templates/proposals/print/print.css
  timary/urls.py
  timary/views/proposals.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
