Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.2.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude: (staticfiles)
      - id: end-of-file-fixer
        exclude: (staticfiles)
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ '-iii', '-ll' ]
  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        exclude: (staticfiles)
      - id: djcss
        exclude: (staticfiles)
      - id: djjs
        exclude: (staticfiles)
  - repo: "https://github.com/pycqa/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: "https://gitlab.com/pycqa/flake8"
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
        types:
          - python
        pass_filenames: false
        language: system

cleanup buttons
  timary/templates/clients/_form.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_profile.html
  timary/templates/partials/settings/account/_edit_password.html
  timary/templates/profile/_update.html
Due: none

Update _edit_password.html
  timary/templates/partials/settings/account/_edit_password.html
Due: none

fix invoices not queried correctly for sms
  timary/models.py
Due: django-check, django-check-migrations, django-tests

cleanup ui
  timary/templates/clients/list.html
  timary/templates/invoices/archive_list.html
  timary/templates/invoices/list.html
  timary/templates/partials/settings/account/_edit_accounting.html
  timary/templates/partials/settings/account/_edit_payment_method.html
  timary/templates/partials/settings/preferences/_edit_sms.html
Due: none

cleanup ui
  timary/templates/partials/settings/account/_edit_accounting.html
Due: none

cleanup tests
  timary/tests/factories.py
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-tests

cleanup tasks
  timary/tasks.py
Due: django-check, django-tests

cleanup manage invoices ui
  timary/templates/invoices/manage_invoices.html
Due: none

cleanup accounting views when disconnecting
  staticfiles/css/dist/styles.3f95b60286f8.css
  staticfiles/css/dist/styles.3f95b60286f8.css.br
  staticfiles/css/dist/styles.3f95b60286f8.css.gz
  staticfiles/staticfiles.json
  timary/views/accounting_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Update accounting_views.py
  timary/views/accounting_views.py
Due: django-check, django-tests

update clients on stripe when details are updated
  timary/services/stripe_service.py
  timary/views/clients.py
Due: django-check, django-tests

update contacts on accounting services when updated through timary
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/views/clients.py
Due: django-check, django-tests

refresh client when syncing
  timary/views/clients.py
Due: django-check, django-tests

update model actions in admin
  timary/admin.py
Due: django-check, django-tests

add option to resend sent invoice
  timary/admin.py
Due: django-check, django-tests

allow repeating hours for any day
  timary/templates/hours/_patch.html
  timary/templates/partials/_hours_list.html
  timary/templatetags/filters.py
  timary/tests/factories.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/hours.py
Due: django-check, django-tests

fix repeat hours not showing current day repeat button
  timary/views/hours.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

add onboarding tasks list
  timary/migrations/0048_user_onboarding_tasks.py
  timary/models.py
  timary/templates/partials/_navbar.html
  timary/templatetags/filters.py
  timary/tests/test_models.py
  timary/views/accounting_views.py
  timary/views/clients.py
  timary/views/hours.py
  timary/views/profile.py
  timary/views/recurring_invoices.py
Due: django-check, django-check-migrations, django-tests

send weekly invoice summary
  timary/tasks.py
  timary/templates/email/invoice_summary.html
Due: django-check, django-tests

cleanup wording for archiving invoices
  timary/templates/hours/_patch.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
Due: none

cleanup ui
  timary/templates/clients/_form.html
  timary/templates/partials/_invoice_next_date.html
Due: none

allow pagination between months
  staticfiles/css/dist/styles.d54799d4e674.css
  staticfiles/css/dist/styles.d54799d4e674.css.br
  staticfiles/css/dist/styles.d54799d4e674.css.gz
  staticfiles/staticfiles.json
  timary/hours_manager.py
  timary/querysets.py
  timary/templates/partials/_hours_inner_list.html
  timary/templates/partials/_hours_list.html
  timary/urls.py
  timary/views/hours.py
  timary/views/main.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

pull clients from accounting service
  staticfiles/css/dist/styles.b95ba907d4eb.css
  staticfiles/css/dist/styles.b95ba907d4eb.css.br
  staticfiles/css/dist/styles.b95ba907d4eb.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/templates/clients/list.html
  timary/templates/invoices/manage_invoices.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/clients.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

sync stripe customers with new accounting clients
  timary/views/clients.py
Due: django-check, django-tests

fix bug getting clients for none existent service
  timary/views/clients.py
Due: django-check, django-tests

update wording
  timary/templates/invoices/manage_invoices.html
Due: none

add phone and address fields to client view + add twilio message sms payment link
  staticfiles/css/dist/styles.544f4f12486d.css
  staticfiles/css/dist/styles.544f4f12486d.css.br
  staticfiles/css/dist/styles.544f4f12486d.css.gz
  staticfiles/staticfiles.json
  timary/admin.py
  timary/forms.py
  timary/migrations/0049_client_address_client_phone_number.py
  timary/migrations/0050_sentinvoice_email_id.py
  timary/models.py
  timary/services/stripe_service.py
  timary/services/twilio_service.py
  timary/tasks.py
  timary/templates/clients/_client.html
  timary/templates/clients/_form.html
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/urls.py
  timary/views/clients.py
  timary/views/sent_invoices.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix migrations
  timary/migrations/0050_sentinvoice_email_id.py
Due: django-check, django-tests

add option to cancel sub from account page
  staticfiles/css/dist/styles.2c9cc63092a0.css
  staticfiles/css/dist/styles.2c9cc63092a0.css.br
  staticfiles/css/dist/styles.2c9cc63092a0.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/close_account.html
  timary/views/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow sent invoices to print
  staticfiles/css/dist/styles.04b447536e06.css
  staticfiles/css/dist/styles.04b447536e06.css.br
  staticfiles/css/dist/styles.04b447536e06.css.gz
  staticfiles/css/dist/styles.52954ec21414.css
  staticfiles/css/dist/styles.52954ec21414.css.br
  staticfiles/css/dist/styles.52954ec21414.css.gz
  staticfiles/staticfiles.json
  timary/invoice_builder.py
  timary/templates/email/download_sent_invoice.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/urls.py
  timary/views/sent_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

show timary branding top of page
  timary/templates/email/download_sent_invoice.html
Due: none

allow hours to be added in the edit invoice hours form
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_edit_hours_post.html
  timary/templates/partials/_form_success.html
  timary/urls.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

set email id for new sent invoice
  timary/models.py
Due: django-check, django-check-migrations, django-tests

move budget perc above card fold
  staticfiles/css/dist/styles.2637feee38c4.css
  staticfiles/css/dist/styles.2637feee38c4.css.br
  staticfiles/css/dist/styles.2637feee38c4.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/invoices/_base_card.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup sync all views
  staticfiles/css/dist/styles.e51e4a8ebf0b.css
  staticfiles/css/dist/styles.e51e4a8ebf0b.css.br
  staticfiles/css/dist/styles.e51e4a8ebf0b.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/invoices/_synced_results.html
  timary/views/accounting_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

disable button when updating sent hours
  timary/templates/partials/_edit_sent_hours.html
Due: none

cleanup logic for paused invoices
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/interval/_card.html
  timary/templates/invoices/milestone/_card.html
  timary/templates/partials/_hour.html
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/hours.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

add error catching for paused invoices in update & repeat hour views + add tests
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
Due: django-check, django-tests

Update _footer.html
  timary/templates/partials/_footer.html
Due: none

update support url in invoice emails
  timary/templates/email/download_sent_invoice.html
  timary/templates/email/receipt_invoice.html
  timary/templates/email/sent_invoice.html
  timary/templates/invoices/invoice_branding.html
Due: none
