Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

update styleing
  timary/templates/invoices/manage_invoices.html
  timarytailwind/static/css/dist/styles.css
Due: none

add ui tweaks
  staticfiles/css/dist/styles.91223a4d4493.css
  staticfiles/css/dist/styles.91223a4d4493.css.br
  staticfiles/css/dist/styles.91223a4d4493.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

update calculate next date for only intervals"
  timary/views/recurring_invoices.py
Due: django-check, django-tests

don't send weekly updates for paused and archived invoices
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-tests

cleanup ui
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_invoice.html
Due: none

cleanup synced logic
  staticfiles/css/dist/styles.a0961f93ee9d.css
  staticfiles/css/dist/styles.a0961f93ee9d.css.br
  staticfiles/css/dist/styles.a0961f93ee9d.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_single_invoice.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup code
  staticfiles/css/dist/styles.841df17a02b2.css
  staticfiles/css/dist/styles.841df17a02b2.css.br
  staticfiles/css/dist/styles.841df17a02b2.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/invoices/_base_create.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
  timary/views/recurring_invoices.py
  timary/views/single_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup timezones for invoices by email
  timary/models.py
  timary/templates/email/invoice_preview.html
  timary/templates/invoices/line_items/hourly.html
  timary/templates/invoices/line_items/weekly.html
  timary/tests/test_models.py
  timary/tests/test_tasks.py
Due: django-check, django-check-migrations, django-tests

show errors rasied when syncing single invoice
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoices.py
Due: django-check, django-tests

refactor invoice partials
  staticfiles/css/dist/styles.5b18af93317e.css
  staticfiles/css/dist/styles.5b18af93317e.css.br
  staticfiles/css/dist/styles.5b18af93317e.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/interval/_card.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/milestone/_card.html
  timary/templates/invoices/weekly/_card.html
  timary/tests/test_views/test_invoices.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix ui bugs
  timary/templates/partials/_hours_list.html
Due: none

cleanup admin
  staticfiles/css/dist/styles.525cbbce8ed5.css
  staticfiles/css/dist/styles.525cbbce8ed5.css.br
  staticfiles/css/dist/styles.525cbbce8ed5.css.gz
  staticfiles/staticfiles.json
  timary/admin.py
  timary/templates/admin/analytics.html
  timary/templates/admin/send_email.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

lock line items for single invoices with sent out installments
  timary/forms.py
  timary/models.py
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
Due: django-check, django-check-migrations, django-tests

update next installment dates if installments num changed
  timary/views/single_invoices.py
Due: django-check, django-tests

lock installments when updating to clean up logic
  timary/forms.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

show synced clients and sent invoices in sync summary
  timary/templates/invoices/_synced_results.html
  timary/views/accounting_views.py
Due: django-check, django-tests

fix synced logic calcs
  timary/views/accounting_views.py
Due: django-check, django-tests

fix button copy
  timary/templates/partials/_archive_invoice.html
Due: none

WIP: Split invoices page
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/manage_invoices.html
Due: none

add client model
  timary/forms.py
  timary/migrations/0046_remove_invoice_accounting_customer_id_and_more.py
  timary/models.py
  timary/templates/clients/_client.html
  timary/templates/clients/_form.html
  timary/templates/clients/list.html
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/list.html
  timary/templates/invoices/manage_invoices.html
  timary/urls.py
  timary/views/__init__.py
  timary/views/clients.py
  timary/views/recurring_invoices.py
Due: django-check, django-check-migrations, django-tests

update quickbooks service
  staticfiles/css/dist/styles.3550761605d2.css
  staticfiles/css/dist/styles.3550761605d2.css.br
  staticfiles/css/dist/styles.3550761605d2.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/services/accounting_service.py
  timary/services/quickbooks_service.py
  timary/services/stripe_service.py
  timary/templates/clients/_client.html
  timary/templates/clients/list.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup client list
  timary/templates/clients/_client.html
  timary/templates/clients/list.html
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/archive_list.html
  timary/templates/invoices/list.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archive_invoice.html
  timary/urls.py
  timary/views/clients.py
  timary/views/main.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

cleanup clients
  timary/forms.py
  timary/templates/clients/_client.html
  timary/templates/clients/_form.html
  timary/templates/clients/list.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/urls.py
  timary/views/clients.py
Due: django-check, django-tests

fix tests
  timary/forms.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/invoice_preview.html
  timary/templates/email/receipt_invoice.html
  timary/templates/email/sent_invoice.html
  timary/templates/email/weekly_update.html
  timary/templates/invoices/_synced_results.html
  timary/templates/partials/_single_invoice.html
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/views/accounting_views.py
  timary/views/recurring_invoices.py
  timary/views/sent_invoices.py
  timary/views/single_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

Fix tests
  timary/models.py
  timary/tasks.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

update tests
  timary/templates/partials/_sent_invoice.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

cleanup templates
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archive_invoice.html
Due: none

cleanup templates
  timary/migrations/0046_remove_invoice_accounting_customer_id_and_more.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix bug in edited hours for sent invoice not using correct rate
  timary/models.py
  timary/tests/test_models.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-check-migrations, django-tests

add loading indicator for manage invoices page
  timary/templates/invoices/manage_invoices.html
Due: none

fix edgecase not allowing to edit sent invoice hours for paused invoice
  timary/forms.py
Due: django-check, django-tests

cleanup code
  timary/models.py
  timary/templates/invoices/_synced_results.html
  timary/templates/partials/_sent_invoice.html
  timary/views/accounting_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

had stricter tracking of invoices pinged by sms
  timary/migrations/0047_recurringinvoice_sms_ping_today.py
  timary/models.py
  timary/tasks.py
  timary/tests/test_models.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

Update models.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

fix for missing hours tracked
  timary/models.py
  timary/views/recurring_invoices.py
Due: django-check, django-check-migrations, django-tests

revert change
  timary/models.py
Due: django-check, django-check-migrations, django-tests

fix not showing all period hours by last date cutoff
  timary/models.py
Due: django-check, django-check-migrations, django-tests

fix invoices not logged calculation
  timary/models.py
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
