Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

fix invoice models
  requirements.in
  requirements.txt
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0031_alter_invoice_options_and_more.py
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/interval/_update.html
  timary/templates/invoices/milestone/_update.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/invoices/weekly/_update.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

Improve invoice models (#31)
  requirements.in
  requirements.txt
  staticfiles/staticfiles.json
  timary/admin.py
  timary/forms.py
  timary/hours_manager.py
  timary/migrations/0031_alter_invoice_options_and_more.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/interval/_create.html
  timary/templates/invoices/interval/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/milestone/_create.html
  timary/templates/invoices/milestone/_update.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/invoices/weekly/_create.html
  timary/templates/invoices/weekly/_update.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add staticfiles
  staticfiles/polymorphic/css/polymorphic_inlines.2a4b6f754e66.css
  staticfiles/polymorphic/css/polymorphic_inlines.2a4b6f754e66.css.br
  staticfiles/polymorphic/css/polymorphic_inlines.2a4b6f754e66.css.gz
  staticfiles/polymorphic/css/polymorphic_inlines.css
  staticfiles/polymorphic/css/polymorphic_inlines.css.br
  staticfiles/polymorphic/css/polymorphic_inlines.css.gz
  staticfiles/polymorphic/js/polymorphic_inlines.282b2e2c0063.js
  staticfiles/polymorphic/js/polymorphic_inlines.282b2e2c0063.js.br
  staticfiles/polymorphic/js/polymorphic_inlines.282b2e2c0063.js.gz
  staticfiles/polymorphic/js/polymorphic_inlines.js
  staticfiles/polymorphic/js/polymorphic_inlines.js.br
  staticfiles/polymorphic/js/polymorphic_inlines.js.gz
Due: none

cleanup code
  timary/forms.py
  timary/models.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

add single invoices
  staticfiles/css/dist/styles.48c30b8c7635.css
  staticfiles/css/dist/styles.48c30b8c7635.css.br
  staticfiles/css/dist/styles.48c30b8c7635.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0032_singleinvoice.py
  timary/migrations/0033_hourslineitem_description.py
  timary/migrations/0034_lineitem_alter_hourslineitem_options_and_more.py
  timary/migrations/0035_alter_lineitem_date_tracked.py
  timary/migrations/0036_alter_lineitem_unit_price.py
  timary/migrations/0037_alter_singleinvoice_status.py
  timary/migrations/0038_alter_sentinvoice_paid_status.py
  timary/models.py
  timary/templates/email/single_invoice.html
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/_synced_results.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_check_svg.html
  timary/templates/partials/_form_errors.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/templates/timary/base.html
  timary/tests/test_models.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/recurring_invoices.py
  timary/views/single_invoice.py
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

move render line items to partials
  staticfiles/css/dist/styles.3a4ab6ebded8.css
  staticfiles/css/dist/styles.3a4ab6ebded8.css.br
  staticfiles/css/dist/styles.3a4ab6ebded8.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/email/receipt_invoice.html
  timary/templates/email/sent_invoice.html
  timary/templates/email/single_invoice.html
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/line_items/hourly.html
  timary/templates/invoices/line_items/single.html
  timary/templates/invoices/line_items/weekly.html
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup single invoice view
  timary/views/single_invoice.py
  timaryproject/settings.py
Due: django-check, django-tests

add actions to send invoice and update status
  staticfiles/css/dist/styles.dabf94bade01.css
  staticfiles/css/dist/styles.dabf94bade01.css.br
  staticfiles/css/dist/styles.dabf94bade01.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0039_alter_invoice_balance_due.py
  timary/migrations/0040_alter_singleinvoice_status.py
  timary/models.py
  timary/templates/email/single_invoice.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_views/test_stripe_views.py
  timary/urls.py
  timary/views/single_invoice.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup send single invoice view
  timary/models.py
  timary/templates/email/single_invoice.html
  timary/views/single_invoice.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

show and don't allow invoices under to pay
  timary/templates/partials/_single_invoice.html
  timary/views/stripe_views.py
Due: django-check, django-tests

update pay invoice to render line items from sent invoice
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-tests

update logic to show checked if synced for single invoice
  timary/models.py
Due: django-check, django-check-migrations, django-tests

Update models.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

improve ux for sending single invoice
  timary/models.py
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoice.py
Due: django-check, django-check-migrations, django-tests

add negative sign for discount
  timary/templates/invoices/line_items/single.html
Due: none

show error message if invoices select dropdown is empty
  staticfiles/css/dist/styles.4599fd37e518.css
  staticfiles/css/dist/styles.4599fd37e518.css.br
  staticfiles/css/dist/styles.4599fd37e518.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/hours/_create.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add tests
  timary/models.py
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/__init__.py
  timary/views/single_invoices.py
Due: django-check, django-check-migrations, django-tests

Update stripe_service.py
  timary/services/stripe_service.py
Due: django-check, django-tests

add single invoice view tests
  timary/forms.py
  timary/models.py
  timary/templates/invoices/_invoice_selection.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

show invoices in admin
  timary/admin.py
Due: django-check, django-tests

cleanup tests
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

do not send invoices if user isn't active
  timary/tasks.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

squashmigrations
  timary/migrations/0001_squashed_0040_alter_singleinvoice_status.py
Due: django-check, django-tests

don't try to re-sync an already synced customer and/or invoice
  timary/models.py
Due: django-check, django-check-migrations, django-tests

hide sync button if user has no active subscription
  timary/templates/partials/_single_invoice.html
Due: none

send invoice to send client email if possible
  timary/migrations/0041_singleinvoice_client_second_email.py
  timary/models.py
  timary/templates/invoices/single_invoice.html
  timary/views/single_invoices.py
Due: django-check, django-check-migrations, django-tests

allow single invoices to select client from previous client list
  timary/forms.py
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/single_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoices.py
Due: django-check, django-tests

fix alert bug across browsers
  staticfiles/css/dist/styles.cb8974ec1ba0.css
  staticfiles/css/dist/styles.cb8974ec1ba0.css.br
  staticfiles/css/dist/styles.cb8974ec1ba0.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

show message if error was raised in create/update single invoice
  timary/views/single_invoices.py
Due: django-check, django-tests

add single invoice reminder tasks
  timary/tasks.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoices.py
Due: django-check, django-tests

allow users to set resend flag
  timary/tasks.py
  timary/templates/invoices/single_invoice.html
  timary/tests/test_tasks.py
  timary/views/single_invoices.py
  timaryproject/settings.py
Due: django-check, django-tests

update faqs
  timary/templates/timary/landing_page.html
Due: none

show sent invoices for single invoices
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archive_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/views/recurring_invoices.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

update toggle styles
  staticfiles/css/dist/styles.e450020b2648.css
  staticfiles/css/dist/styles.e450020b2648.css.br
  staticfiles/css/dist/styles.e450020b2648.css.gz
  staticfiles/staticfiles.json
  timary/templates/hours/_create.html
  timary/templates/invoices/single_invoice.html
  timarytailwind/static/css/dist/styles.css
Due: none

allow option to select multiple invoices to log to
  timary/templates/hours/_create.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

preselect invoice for creating hours
  timary/templates/hours/_create.html
Due: none

add tooltips for repeating/recurring
  staticfiles/css/dist/styles.a47b97eb225c.css
  staticfiles/css/dist/styles.a47b97eb225c.css.br
  staticfiles/css/dist/styles.a47b97eb225c.css.gz
  staticfiles/staticfiles.json
  timary/templates/hours/_create.html
  timary/tests/factories.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
