Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

fix bug where quickbooks invoice was not paid
  timary/services/quickbook_service.py
Due: django-check, django-tests

pin python packages using pip-tools
  requirements.in
  requirements.txt
Due: none

show hours logged in current invoice period
  timary/models.py
  timary/templates/partials/_invoice.html
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

increase font size of input to prevent zoom on ios
  timary/templates/auth/register.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_form.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

fix ui bugs
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_integrations.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/partials/_spinnr.html
  timary/templates/timary/profile.html
  timary/tests/test_views/test_profiles.py
  timary/urls.py
  timary/views/accounting_views.py
Due: django-check, django-tests

refactor twilio logic to service class
  timary/services/twilio_service.py
  timary/tasks.py
  timary/views/stripe_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

add freshbooks integration
  requirements.in
  requirements.txt
  timary/admin.py
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0017_auto_20220212_1820.py
  timary/models.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/tasks.py
  timary/templates/partials/_integrations.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add timer to log hours
  timary/forms.py
  timary/migrations/0018_alter_dailyhoursinput_hours.py
  timary/models.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/timary/index.html
  timary/tests/test_emails.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

catch bad url patterns
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/main.py
  timaryproject/urls.py
Due: django-check, django-tests

cleanup ui bugs
  timary/templates/partials/_hour.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
Due: django-check, django-tests

cleanup landing page
  timary/templates/auth/register.html
  timary/templates/timary/landing_page.html
Due: none

add audit activty excel download
  requirements.in
  requirements.txt
  timary/management/commands/generate_fake_data.py
  timary/templates/partials/_settings.html
  timary/urls.py
  timary/views/profile.py
Due: django-check, django-tests

redo membership selection in register view
  timary/forms.py
  timary/templates/auth/register.html
  timary/templates/partials/_form.html
  timary/templates/timary/landing_page.html
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
Due: django-check, django-tests

use aws sqs for django q in prod
  timary/tests/test_emails.py
  timaryproject/settings.py
Due: django-check, django-tests

override db backups in s3
  timary/tasks.py
Due: django-check, django-tests

use db as cache
  timaryproject/settings.py
Due: django-check, django-tests

add playwright and ui tests
  Makefile
  requirements.in
  requirements.txt
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

turn on headless ui mode
  .pre-commit-config.yaml
  timary/tests/test_e2e.py
Due: django-check, django-tests

run ui tests in github actions
  .github/workflows/.github-actions.yml
Due: none

fix github yml file
  .github/workflows/.github-actions.yml
Due: none

remove ui tests from gh actions
  .github/workflows/.github-actions.yml
Due: none

add main view tests
  timary/tests/test_views/test_main.py
Due: django-check, django-tests

switch new hours form to use crispy forms
  requirements.in
  requirements.txt
  timary/forms.py
  timary/templates/timary/index.html
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

Add middleware to check for mobile screen
  timary/middleware.py
  timary/views/hours.py
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

revert sqs
  timaryproject/settings.py
Due: django-check, django-tests

covert edit hours form to use crispy/htmx
  timary/form_helpers.py
  timary/forms.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests

convert invoice forms to crispy/htmx
  timary/form_helpers.py
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-tests

convert edit profile form
  timary/form_helpers.py
  timary/forms.py
  timary/templates/timary/profile.html
  timary/tests/test_views/test_profiles.py
  timary/views/profile.py
Due: django-check, django-tests

convert login form to crispy
  timary/form_helpers.py
  timary/forms.py
  timary/templates/auth/login.html
  timary/templates/timary/base.html
  timary/tests/test_views/test_invoices.py
  timary/views/auth.py
  timaryproject/settings.py
Due: django-check, django-tests

simplify settings form
  timary/templates/partials/_settings_form.html
  timary/views/profile.py
Due: django-check, django-tests

remove cache
  timary/tests/test_views/test_invoices.py
  timaryproject/settings.py
Due: django-check, django-tests

update plan selection ui
  timary/templates/auth/register.html
  timary/templates/timary/base.html
  timaryproject/settings.py
Due: django-check, django-tests

update spacing
  timary/templates/auth/register.html
Due: none

update styling for daisyui 2
  timary/templates/partials/_navbar.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
Due: none

fix tests
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

convert register form to crispy/htmx + remove form partials
  timary/form_helpers.py
  timary/forms.py
  timary/templates/admin/send_email.html
  timary/templates/auth/register.html
  timary/templates/partials/_form.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
Due: django-check, django-tests

convert forms to use crispy/htmx forms (#7)
  requirements.in
  requirements.txt
  timary/form_helpers.py
  timary/forms.py
  timary/middleware.py
  timary/templates/admin/send_email.html
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_form.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-tests

fix ui bugs
  timary/forms.py
  timary/templates/auth/register.html
Due: django-check, django-tests

add terms and privacy pages
  timary/form_helpers.py
  timary/templates/company/privacy.html
  timary/templates/company/terms.html
  timary/tests/test_views/test_hours.py
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

fix copy
  timary/templates/company/privacy.html
Due: none

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
