Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

add secuity precautions for hours/invoices endpoints
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

add landing page
  Makefile
  timary/templates/timary/landing_page.html
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

add phone number field to user profile model
  timary/forms.py
  timary/migrations/0006_userprofile_phone_number.py
  timary/migrations/0007_alter_userprofile_phone_number.py
  timary/models.py
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_profile.html
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_profiles.py
  timary/views/profile.py
Due: django-check, django-check-migrations, django-tests

add custom abstract user
  timary/admin.py
  timary/forms.py
  timary/migrations/0001_initial.py
  timary/migrations/0002_invoice_email_id.py
  timary/migrations/0003_invoice_email_recipient_name.py
  timary/migrations/0004_alter_dailyhoursinput_hours.py
  timary/migrations/0005_alter_dailyhoursinput_hours.py
  timary/migrations/0006_userprofile_phone_number.py
  timary/migrations/0007_alter_userprofile_phone_number.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/invoice_subject.html
  timary/templates/partials/_profile.html
  timary/tests/factories.py
  timary/tests/test_emails.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup hours querysets
  timary/migrations/0002_alter_dailyhoursinput_managers.py
  timary/migrations/0003_alter_dailyhoursinput_managers.py
  timary/models.py
  timary/templates/partials/_dashboard_stats.html
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

send emails for number of invoices sent today
  timary/tasks.py
  timary/tests/test_emails.py
Due: django-check, django-tests

update django q settings + email tests
  timary/tests/test_emails.py
  timaryproject/settings.py
Due: django-check, django-tests

fix email typo
  timary/tasks.py
Due: django-check, django-tests

WIP: Testout twilio
  requirements.txt
  timary/templates/timary/index.html
  timary/urls.py
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

WIP: Send texts to users to log hours for today
  Makefile
  timary/views/invoices.py
  timary/views/main.py
Due: django-check, django-tests

WIP: Clean up user invoices query
  timary/models.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

WIP: Setup twilio tests
  timary/tasks.py
  timary/templates/timary/index.html
  timary/tests/test_sms.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/main.py
  timary/views/twilio_views.py
  timaryproject/settings.py
Due: django-check, django-tests

WIP: Add tests for sms webhook
  timary/tests/test_sms.py
  timaryproject/settings.py
Due: django-check, django-tests

Add tests for remaining invoices
  timary/models.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

Extract querysets into separate file
  timary/models.py
  timary/querysets.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

add sms tests
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-tests

use phonenumbers field package for user phone_number
  timary/migrations/0004_alter_user_phone_number.py
  timary/models.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_profiles.py
Due: django-check, django-check-migrations, django-tests

update config for github
  timaryproject/settings.py
Due: django-check, django-tests

add test for hours logged less than threshold
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

update filtering of users in sms task to be read clearly
  timary/tasks.py
Due: django-check, django-tests

update wording of initial text
  timary/tasks.py
Due: django-check, django-tests

Twilio sms integration (#2)
  Makefile
  requirements.txt
  timary/migrations/0004_alter_user_phone_number.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/invoices.py
  timary/views/twilio_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

move logout button to navbar
  timary/templates/partials/_navbar.html
  timary/templates/timary/profile.html
Due: none

add formatted phone number to send sms
  timary/models.py
  timary/tasks.py
Due: django-check, django-check-migrations, django-tests

move hours qs to model function
  timary/models.py
  timary/tasks.py
  timary/tests/factories.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

update requirements file
  requirements.txt
Due: none

add pause button
  requirements.txt
  timary/tasks.py
  timary/templates/partials/_invoice.html
  timary/tests/test_emails.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

fix bug in sms logic to not send paused invoices
  timary/models.py
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-check-migrations, django-tests

fix invoice list spacing
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hour.html
Due: none

add sentinvoices model to track invoices and payments
  timary/admin.py
  timary/migrations/0005_sentinvoice.py
  timary/models.py
  timary/tasks.py
  timary/templates/timary/profile.html
  timary/tests/test_emails.py
  timary/views/profile.py
Due: django-check, django-check-migrations, django-tests

update logo links
  timary/templates/partials/_navbar.html
  timary/templates/timary/landing_page.html
Due: none

remove unused code
  timary/templates/invoices/edit_invoice.html
  timary/templates/invoices/new_invoice.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

WIP: Add empty state workflow
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_form.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/views/invoices.py
  timary/views/main.py
Due: django-check, django-tests

Add tests for empty state workflows + update html tests
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

fix input widths
  timary/templates/partials/_htmx_post_form.html
Due: none

fix bug that didn't log up to and including last_date of invoice
  timary/models.py
  timary/tests/test_emails.py
Due: django-check, django-check-migrations, django-tests

WIP: Create initial screen to pay for invoice
  timary/context_processors.py
  timary/tasks.py
  timary/templates/email/styled_email.html
  timary/templates/invoices/pay_invoice.html
  timary/urls.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-tests

WIP: Add management command to easily test payment form
  timary/forms.py
  timary/management/__init__.py
  timary/management/commands/__init__.py
  timary/management/commands/generate_fake_invoice_email.py
  timary/models.py
  timary/templates/auth/login.html
  timary/templates/auth/signup.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/invoices/success_pay_invoice.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

WIP: Add python stripe package and cleanup numbers on invoice
  requirements.txt
  timary/management/commands/generate_fake_invoice_email.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/styled_email.html
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

WIP: Update form fields regex + ui
  timary/forms.py
  timary/templates/email/styled_email.html
  timary/templates/invoices/pay_invoice.html
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
