Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

add helper message for late fee
  staticfiles/css/dist/styles.bb69b2e91669.css
  staticfiles/css/dist/styles.bb69b2e91669.css.br
  staticfiles/css/dist/styles.bb69b2e91669.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/line_items/single.html
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_views/test_stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow single invoices with past due date to update without errors
  timary/forms.py
  timary/tests/test_forms.py
Due: django-check, django-tests

fix datetime issues with last 6 months and hour stats
  staticfiles/css/dist/styles.42d2b74ceac0.css
  staticfiles/css/dist/styles.42d2b74ceac0.css.br
  staticfiles/css/dist/styles.42d2b74ceac0.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/models.py
  timary/querysets.py
  timary/templates/partials/_invoice.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_main.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup queryset logic
  timary/querysets.py
  timary/tests/test_querysets.py
Due: django-check, django-tests

expand last 6 months chart height
  timary/templates/partials/_invoice.html
Due: none

fix timezone tests
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

fix cancel archived sent single invoice bug
  timary/templates/partials/_sent_invoice.html
  timary/views/sent_invoices.py
Due: django-check, django-tests

only show hours for valid date ranges
  timary/querysets.py
Due: django-check, django-tests

allow archived invoices that have pending sent invoices to edit hours if need be
  timary/forms.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

update logo + cleanup navbar
  timary/templates/partials/_logo.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/landing_page.html
Due: none

send correct weekly update invoice template to the client
  staticfiles/css/dist/styles.fce8d058df9d.css
  staticfiles/css/dist/styles.fce8d058df9d.css.br
  staticfiles/css/dist/styles.fce8d058df9d.css.gz
  staticfiles/staticfiles.json
  timary/tasks.py
  timary/tests/test_tasks.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix updating next date bug
  timary/tests/test_views/test_invoices.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

update requirements
  requirements.txt
Due: none

add make command to upgrade dependencies
  Makefile
Due: none

small ui tweak
  timary/templates/auth/login.html
Due: none

ui & ux tweaks like limit hours logged to 24 per day
  staticfiles/css/dist/styles.2a18fc3f6f58.css
  staticfiles/css/dist/styles.2a18fc3f6f58.css.br
  staticfiles/css/dist/styles.2a18fc3f6f58.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/models.py
  timary/templates/email/base_invoice.html
  timary/templates/email/weekly_update.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/templatetags/filters.py
  timary/tests/factories.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

WIP: Add installments for single invoices
  timary/forms.py
  timary/migrations/0045_sentinvoice_due_date_singleinvoice_installments_and_more.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/sent_invoice.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/urls.py
  timary/views/single_invoices.py
Due: django-check, django-check-migrations, django-tests

cleanup late payment logic
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

fix email footer bug
  timary/templates/email/base_invoice.html
Due: none

fix tests
  staticfiles/css/dist/styles.e8ac7f9309d4.css
  staticfiles/css/dist/styles.e8ac7f9309d4.css.br
  staticfiles/css/dist/styles.e8ac7f9309d4.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix late penalty bugs
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/line_items/single.html
  timary/templates/partials/_sent_invoice.html
  timary/views/sent_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

add tests
  staticfiles/css/dist/styles.ea4559b43c73.css
  staticfiles/css/dist/styles.ea4559b43c73.css.br
  staticfiles/css/dist/styles.ea4559b43c73.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/tasks.py
  timary/tests/test_models.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add tests
  staticfiles/css/dist/styles.d69129c3a9bd.css
  staticfiles/css/dist/styles.d69129c3a9bd.css.br
  staticfiles/css/dist/styles.d69129c3a9bd.css.gz
  staticfiles/staticfiles.json
  timary/tasks.py
  timary/tests/test_forms.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
  timary/views/single_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Add single invoice installments (#34)
  staticfiles/css/dist/styles.d69129c3a9bd.css
  staticfiles/css/dist/styles.d69129c3a9bd.css.br
  staticfiles/css/dist/styles.d69129c3a9bd.css.gz
  staticfiles/css/dist/styles.e8ac7f9309d4.css
  staticfiles/css/dist/styles.e8ac7f9309d4.css.br
  staticfiles/css/dist/styles.e8ac7f9309d4.css.gz
  staticfiles/css/dist/styles.ea4559b43c73.css
  staticfiles/css/dist/styles.ea4559b43c73.css.br
  staticfiles/css/dist/styles.ea4559b43c73.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0045_sentinvoice_due_date_singleinvoice_installments_and_more.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/sent_invoice.html
  timary/templates/invoices/line_items/single.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/sent_invoices.py
  timary/views/single_invoices.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix is synced for single invoices with installments
  timary/models.py
  timary/tests/test_models.py
  timary/views/single_invoices.py
Due: django-check, django-check-migrations, django-tests

cleanup invoices ui
  staticfiles/css/dist/styles.213393015a26.css
  staticfiles/css/dist/styles.213393015a26.css.br
  staticfiles/css/dist/styles.213393015a26.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_views/test_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

small ui tweak
  timary/templates/partials/_archive_invoice.html
Due: none

update faqs
  timary/templates/timary/landing_page.html
Due: none

include timezone in date tracked range for invoices not logged
  timary/models.py
Due: django-check, django-check-migrations, django-tests

cleanup styles
  timary/templates/invoices/manage_invoices.html
Due: none

update daisyui
  staticfiles/css/dist/styles.67d560078025.css
  staticfiles/css/dist/styles.67d560078025.css.br
  staticfiles/css/dist/styles.67d560078025.css.gz
  staticfiles/css/dist/styles.ac9a2ff44cc0.css
  staticfiles/css/dist/styles.ac9a2ff44cc0.css.br
  staticfiles/css/dist/styles.ac9a2ff44cc0.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
  timarytailwind/static_src/package-lock.json
  timarytailwind/static_src/package.json
Due: none

cleanup styles
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
Due: none

cleanup send invoice reminder logic
  staticfiles/css/dist/styles.d9dd10188d40.css
  staticfiles/css/dist/styles.d9dd10188d40.css.br
  staticfiles/css/dist/styles.d9dd10188d40.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/tasks.py
  timary/tests/factories.py
  timary/tests/test_models.py
  timary/tests/test_views/test_twilio_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

update create invoice styles
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/manage_invoices.html
  timarytailwind/static/css/dist/styles.css
Due: none

update styleing
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
Due: none

update styling
  staticfiles/css/dist/styles.04703f07ab0c.css
  staticfiles/css/dist/styles.04703f07ab0c.css.br
  staticfiles/css/dist/styles.04703f07ab0c.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
Due: none

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
