Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

cleanup and tighten payouts enabled logic
  timary/context_processors.py
  timary/migrations/0013_user_stripe_connect_reason.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/partials/_navbar.html
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

check for stripe tokens when registering
  timary/views/auth.py
Due: django-check, django-tests

update pre-commit
  .pre-commit-config.yaml
Due: none

update admin analytics
  timary/admin.py
  timary/templates/admin/analytics.html
Due: django-check, django-tests

add ui flags to sync invoices if not already
  timary/models.py
  timary/templates/partials/_check_svg.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/templates/timary/base.html
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

separate sync all with adding accounting service
  timary/models.py
  timary/services/accounting_service.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

reset accounting ids when disconnecting
  timary/views/accounting_views.py
Due: django-check, django-tests

cleanup more accounting logic
  timary/services/freshbooks_service.py
  timary/services/zoho_service.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_zoho.py
  timary/views/accounting_views.py
Due: django-check, django-tests

fix pay invoice bugs
  timary/templates/invoices/pay_invoice.html
  timary/views/stripe_views.py
Due: django-check, django-tests

update stripe requirements
  timary/services/stripe_service.py
Due: django-check, django-tests

allow alerts to persist
  timary/templates/timary/base.html
  timary/utils.py
Due: django-check, django-tests

add button to dismiss persistant alert
  timary/templates/timary/base.html
Due: none

Show accounting sync errors per service
  timary/custom_errors.py
  timary/models.py
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/xero_service.py
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/views/accounting_views.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

catch quickbooks oauth error
  timary/custom_errors.py
  timary/services/quickbooks_service.py
  timary/services/xero_service.py
  timary/utils.py
  timary/views/invoices.py
Due: django-check, django-tests

add close button for django messages
  timary/templates/partials/_navbar.html
  timary/views/accounting_views.py
Due: django-check, django-tests

update error copy
  timary/services/quickbooks_service.py
  timary/services/xero_service.py
Due: django-check, django-tests

fix small mobile alert bug
  timary/templates/timary/base.html
Due: none

use client instead of email recipient in ui
  timary/custom_errors.py
  timary/forms.py
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

Update dependencies.
  timary/templates/timary/base.html
Due: none

cleanup profile actions ui
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_update.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_sms.html
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_accounting.html
  timary/templates/partials/settings/account/_edit_accounting.html
  timary/templates/partials/settings/account/_edit_payment_method.html
  timary/templates/partials/settings/account/_invite_referral.html
  timary/templates/partials/settings/account/_payment_method.html
  timary/templates/partials/settings/account/_referrals.html
  timary/templates/partials/settings/preferences/_edit_sms.html
  timary/templates/partials/settings/preferences/_preferences.html
  timary/templates/partials/settings/preferences/_sms.html
  timary/templates/profile/_update.html
  timary/templates/timary/profile.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_profiles.py
  timary/views/accounting_views.py
  timary/views/settings.py
Due: django-check, django-tests

add reset password form + views + template
  timary/forms.py
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_edit_password.html
  timary/templates/partials/settings/account/_password.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-tests

small ui tweaks
  timary/templates/invoices/pay_invoice.html
  timary/templates/timary/base.html
Due: none

add not started sent invoice paid status
  timary/migrations/0014_alter_sentinvoice_paid_status.py
  timary/models.py
  timary/tests/factories.py
  timary/tests/test_views/test_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

update sent invoice label state
  timary/templates/partials/_sent_invoice.html
Due: none

show resend invoice button
  timary/templates/partials/_sent_invoice.html
Due: none

only allow instant verification for now
  timary/services/stripe_service.py
Due: django-check, django-tests

set paid status to pending on success view instead of waiting for webhook response
  timary/views/stripe_views.py
Due: django-check, django-tests

fix forms import
  timary/forms.py
Due: django-check, django-tests

allow manual bank entry
  timary/services/stripe_service.py
Due: django-check, django-tests

add second stripe webhook
  timary/urls.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-tests

only allow to resend if failed or not started
  timary/templates/partials/_sent_invoice.html
Due: none

fix archived article synced icon bug
  timary/templates/partials/_archive_invoice.html
Due: none

add sync accounting data summary view
  timary/services/accounting_service.py
  timary/templates/invoices/_synced_results.html
  timary/templates/partials/settings/account/_edit_accounting.html
  timary/templates/timary/profile.html
  timary/views/accounting_views.py
Due: django-check, django-tests

show sync errors under item
  timary/custom_errors.py
  timary/templates/invoices/_synced_results.html
  timary/views/accounting_views.py
Due: django-check, django-tests

test git push
  timary/templates/timary/landing_page.html
Due: none

test change to see if push to pa works
  timary/templates/timary/landing_page.html
Due: none

test commit
  timary/templates/timary/landing_page.html
Due: none

revert test
  timary/templates/timary/landing_page.html
Due: none
