Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

don't add coupon to subscription if not active
  timary/models.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

return correct template when updating subscription
  timary/views/settings.py
Due: django-check, django-tests

Stripe free trial (#27)
  staticfiles/css/dist/styles.a576f55c867f.css
  staticfiles/css/dist/styles.a576f55c867f.css.br
  staticfiles/css/dist/styles.a576f55c867f.css.gz
  staticfiles/css/dist/styles.c8f88e5c4eb4.css
  staticfiles/css/dist/styles.c8f88e5c4eb4.css.br
  staticfiles/css/dist/styles.c8f88e5c4eb4.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0016_user_stripe_subscription_status.py
  timary/models.py
  timary/services/accounting_service.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/auth/register.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_add_subscription.html
  timary/templates/partials/settings/account/_cancel_subscription.html
  timary/templates/timary/landing_page.html
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/utils.py
  timary/views/accounting_views.py
  timary/views/auth.py
  timary/views/invoices.py
  timary/views/settings.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup code
  staticfiles/css/dist/styles.da78a39003b8.css
  staticfiles/css/dist/styles.da78a39003b8.css.br
  staticfiles/css/dist/styles.da78a39003b8.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/settings/account/_add_subscription.html
  timary/templates/partials/settings/account/_cancel_subscription.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
  timary/utils.py
  timary/views/auth.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix dumb typo
  timary/templates/partials/settings/account/_cancel_subscription.html
Due: none

Send email reminder if trial subscription fails when it ends
  timary/views/stripe_views.py
Due: django-check, django-tests

add stripe webhook tests
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

add profile setting tests
  timary/services/stripe_service.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/settings.py
  timary/views/stripe_views.py
Due: django-check, django-tests

update audit excel
  timary/views/settings.py
Due: django-check, django-tests

update hours card
  staticfiles/css/dist/styles.47f0066564d6.css
  staticfiles/css/dist/styles.47f0066564d6.css.br
  staticfiles/css/dist/styles.47f0066564d6.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_hour.html
  timary/tests/test_views/test_hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update invoice card
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_invoice.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

cleanup hours in invoice period view
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix date formatting
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix hours period invoice html padding
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

show 3 columns in hours grid for large screens
  timary/templates/partials/_hours_grid.html
Due: none

cleanup invoice collapsed view
  timary/templates/partials/_invoice_collapsed_content.html
Due: none

update static
  staticfiles/css/dist/styles.7d3e43780083.css
  staticfiles/css/dist/styles.7d3e43780083.css.br
  staticfiles/css/dist/styles.7d3e43780083.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

WIP: Invoice generator
  timary/templates/invoice_generator/builder.html
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

WIP: Invoice generator
  timary/templates/invoice_generator/builder.html
Due: none

WIP: Update invoice builder
  timary/templates/invoice_generator/builder.html
Due: none

add amount due calculator
  timary/templates/invoice_generator/builder.html
Due: none

WIP: Generate invoice
  timary/templates/invoice_generator/builder.html
Due: none

WIP: Invoice generator
  timary/templates/invoice_generator/builder.html
  timary/views/main.py
Due: django-check, django-tests

update for mobile
  timary/templates/invoice_generator/builder.html
Due: none

Invoice generator (#28)
  timary/templates/invoice_generator/builder.html
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

add invoice generator link to footer
  staticfiles/css/dist/styles.060d33a6f8da.css
  staticfiles/css/dist/styles.060d33a6f8da.css.br
  staticfiles/css/dist/styles.060d33a6f8da.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_footer.html
  timary/urls.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update landing page to include footer
  timary/templates/timary/landing_page.html
Due: none

add modal when generating invoice
  timary/templates/invoice_generator/builder.html
Due: none

fix responsive invoice generator ui
  timary/templates/invoice_generator/builder.html
Due: none

add invoice footer
  timary/templates/invoice_generator/builder.html
Due: none

exclude skipped hours when repeating previous day
  staticfiles/css/dist/styles.cab3f366059f.css
  staticfiles/css/dist/styles.cab3f366059f.css.br
  staticfiles/css/dist/styles.cab3f366059f.css.gz
  staticfiles/staticfiles.json
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update landing page copy
  timary/templates/invoice_generator/builder.html
  timary/templates/timary/landing_page.html
Due: none

cleanup ui
  timary/templates/partials/_footer.html
  timary/templates/partials/_invoice.html
Due: none

fix tests
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

add option to repeat sms after 1 hour
  timary/forms.py
  timary/migrations/0017_user_phone_number_repeat_sms.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/settings/preferences/_edit_sms.html
  timary/tests/factories.py
Due: django-check, django-check-migrations, django-tests

show pie chart of sent invoice paid status
  staticfiles/css/dist/styles.ff243fcc318e.css
  staticfiles/css/dist/styles.ff243fcc318e.css.br
  staticfiles/css/dist/styles.ff243fcc318e.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_sent_invoices_list.html
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

cleanup sent invoices templates
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_sent_invoices_list.html
Due: none

allow user to set new date for next invoice sent
  staticfiles/css/dist/styles.494928cf23da.css
  staticfiles/css/dist/styles.494928cf23da.css.br
  staticfiles/css/dist/styles.494928cf23da.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_next_date.html
  timary/urls.py
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
