Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

WIP: Use stripe element ui for credit cards
  timary/forms.py
  timary/templates/invoices/pay_invoice.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/views/__init__.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-tests

show error messages when submitting payment form
  timary/templates/invoices/pay_invoice.html
  timary/urls.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-tests

update pay invoice form to show hours tracked
  timary/forms.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/styled_email.html
  timary/templates/invoices/pay_invoice.html
  timary/urls.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

Sent text to user when invoice has been paid
  timary/views/stripe_views.py
Due: django-check, django-tests

add simple membershiptier class to track state of stripe subscriptions
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0006_user_membership_tier.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/styled_email.html
  timary/tests/factories.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

create stripe user on register
  timary/migrations/0007_user_stripe_customer_id.py
  timary/models.py
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
Due: django-check, django-check-migrations, django-tests

WIP: Get initial stripe onboarding worklow working
  timary/forms.py
  timary/migrations/0008_user_stripe_connect_id.py
  timary/models.py
  timary/templates/auth/add-card-details.html
  timary/templates/auth/register-subscription.html
  timary/templates/auth/register.html
  timary/templates/timary/landing_page.html
  timary/urls.py
  timary/views/auth.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

WIP: Add stepper to track registration flow
  timary/templates/auth/add-card-details.html
  timary/templates/auth/register-subscription.html
  timary/templates/invoices/manage_invoices.html
  timary/views/invoices.py
Due: django-check, django-tests

WIP: Create subscriptions when account is registered
  timary/forms.py
  timary/templates/auth/add-card-details.html
  timary/templates/auth/register-subscription.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/landing_page.html
  timary/views/auth.py
Due: django-check, django-tests

WIP: Try to attach existing default payment of customer to connect account
  timary/views/auth.py
Due: django-check, django-tests

WIP: Get a working prototype to create card tokens in app, without using stripe js
  timary/views/profile.py
Due: django-check, django-tests

WIP: Add settings block + phone settings availability field
  requirements.txt
  timary/forms.py
  timary/migrations/0006_user_phone_number_availability.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/profile.html
  timary/tests/factories.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add tests + cleanup settings ui
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/profile.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/profile.py
Due: django-check, django-check-migrations, django-tests

update url params test
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

Add settings block + phone settings availability field (#5)
  requirements.txt
  timary/forms.py
  timary/migrations/0006_user_phone_number_availability.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/profile.html
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

WIP: Fix registration flow, connect account + subscription
  timary/templates/auth/add-card-details.html
  timary/templates/auth/login.html
  timary/urls.py
  timary/views/auth.py
  timary/views/profile.py
Due: django-check, django-tests

WIP: Moved stripe functions into service class
  timary/migrations/0009_alter_user_membership_tier.py
  timary/models.py
  timary/services/__init__.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/auth/register-subscription.html
  timary/templates/timary/landing_page.html
  timary/tests/factories.py
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

WIP: Update styling of stripe card elements
  timary/templates/auth/add-card-details.html
Due: none

clean up registration flow with stripe
  timary/services/stripe_service.py
  timary/templates/auth/add-card-details.html
  timary/templates/auth/register-subscription.html
  timary/templates/partials/_form.html
  timary/urls.py
  timary/views/auth.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-tests

Add subscription plan in registration flow
  timary/forms.py
  timary/services/stripe_service.py
  timary/templates/partials/_profile.html
  timary/views/stripe_views.py
Due: django-check, django-tests

update subscription plan when updating profile settings
  timary/forms.py
  timary/migrations/0010_user_stripe_subscription_id.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_profiles.py
  timary/views/profile.py
Due: django-check, django-check-migrations, django-tests

add flags to limit access based on membership_tier
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_new_invoice_btn.html
  timary/tests/factories.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

add flag to check if stripe info has been compeleted
  timary/context_processors.py
  timary/migrations/0011_user_stripe_payouts_enabled.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/email/styled_email.html
  timary/templates/partials/_navbar.html
  timary/urls.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add/update tests
  timary/forms.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/auth/login.html
  timary/templates/auth/register-subscription.html
  timary/templates/auth/register.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/landing_page.html
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/auth.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

fix bug where stripe warning still showed for complete accounts
  timary/views/stripe_views.py
Due: django-check, django-tests

set workweek as default phone availability
  timary/forms.py
  timary/tests/test_forms.py
Due: django-check, django-tests

add sentry tracking
  requirements.txt
  timaryproject/settings.py
Due: django-check, django-tests

add remaining tests
  timary/models.py
  timary/services/stripe_service.py
  timary/tests/test_emails.py
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

cleanup stripe paths
  timary/management/commands/generate_fake_invoice_email.py
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/invoices/pay_invoice.html
  timary/tests/factories.py
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
Due: django-check, django-tests

add stripe mock
  timary/tests/test_views/test_auth.py
Due: django-check, django-tests

add stripe connect accounts for existing users in prod
  timary/migrations/0013_auto_20220129_1822.py
Due: django-check, django-tests

move site url to env file
  timaryproject/settings.py
Due: django-check, django-tests

add button to resend invoice email as reminder
  timary/models.py
  timary/templates/partials/_sent_invoice.html
  timary/templates/timary/profile.html
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

add two factor to admin
  requirements.txt
  timary/admin.py
  timaryproject/settings.py
Due: django-check, django-tests

add s3 backup
  requirements.txt
  timary/tasks.py
  timaryproject/settings.py
Due: django-check, django-tests

WIP: Start quickbooks integration
  requirements.txt
  timary/migrations/0014_user_quickbooks_realm_id.py
  timary/models.py
  timary/templates/partials/_settings.html
  timary/tests/test_models.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/accounting_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

WIP: Get happy path to generate customer and invoice and sync to QB
  timary/forms.py
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0015_auto_20220206_1206.py
  timary/models.py
  timary/services/quickbook_service.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup QB integration
  timary/migrations/0016_quickbooksoauth.py
  timary/models.py
  timary/services/quickbook_service.py
  timary/tasks.py
  timary/templates/partials/_settings.html
  timary/tests/test_models.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

Quickbooks integration (#6)
  requirements.txt
  timary/forms.py
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0014_user_quickbooks_realm_id.py
  timary/migrations/0015_auto_20220206_1206.py
  timary/migrations/0016_quickbooksoauth.py
  timary/models.py
  timary/services/quickbook_service.py
  timary/tasks.py
  timary/templates/partials/_settings.html
  timary/tests/test_models.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
