Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

view hours + delete
  timary/templates/mobile/_login_form.xml
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/empty.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/home.xml
  timary/templates/mobile/hours/_hour.xml
  timary/templates/mobile/hours/_hours_list.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/index.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

cleanup ui
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/empty.xml
  timary/templates/mobile/hours/_hour.xml
  timary/templates/mobile/hours/_hours.xml
  timary/templates/mobile/hours/_hours_list.xml
  timary/templates/mobile/hours/_stats.xml
  timary/templates/mobile/hours/hours.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

add edit hours screen
  timary/templates/mobile/edit-hours/edit_hours.xml
  timary/templates/mobile/edit-hours/edit_hours_form.xml
  timary/templates/mobile/empty.xml
  timary/templates/mobile/hours/_hour.xml
  timary/templates/mobile/hours/_hours.xml
  timary/templates/mobile/hours/_hours_list.xml
  timary/templates/mobile/hours/_stats.xml
  timary/templates/mobile/hours/hours.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

add new hours view
  timary/templates/mobile/header/_header.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/hours/_hours.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/new-hours/new_hours.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

update styling
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/edit-hours/edit_hours.xml
  timary/templates/mobile/edit-hours/edit_hours_form.xml
  timary/templates/mobile/edit-profile/edit_profile.xml
  timary/templates/mobile/header/_edit_header.xml
  timary/templates/mobile/header/_header.xml
  timary/templates/mobile/header/_header_styles.xml
  timary/templates/mobile/header/_new_header.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/index.xml
  timary/templates/mobile/new-hours/new_hours.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/templates/mobile/profile/profile.xml
Due: none

cleanup background color ui
  timary/templates/mobile/_login_form.xml
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/edit-hours/edit_hours.xml
  timary/templates/mobile/edit-hours/edit_hours_form.xml
  timary/templates/mobile/edit-profile/edit_profile.xml
  timary/templates/mobile/edit-profile/edit_profile_form.xml
  timary/templates/mobile/header/_new_header.xml
  timary/templates/mobile/hours/_hour.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/index.xml
  timary/templates/mobile/loading_screen.xml
  timary/templates/mobile/new-hours/new_hours.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/templates/mobile/profile/_profile.xml
  timary/templates/mobile/profile/profile.xml
Due: none

git add footer
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/footer.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/profile/_profile.xml
  timary/templates/mobile/profile/profile.xml
Due: none

add util helper method to decrease redundant lines of code
  timary/utils.py
  timary/views/mobile.py
Due: django-check, django-tests

check if invoices_not_logged has value
  timary/tasks.py
Due: django-check, django-tests

add new invoice logic + views
  timary/templates/mobile/footer.xml
  timary/templates/mobile/hours/hours.xml
  timary/templates/mobile/invoices/_invoice.xml
  timary/templates/mobile/invoices/_invoices.xml
  timary/templates/mobile/invoices/invoices.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/templates/mobile/new-invoices/new_invoice.xml
  timary/templates/mobile/new-invoices/new_invoice_form.xml
  timary/templates/mobile/profile/profile.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

add edit-invoice logic + views
  timary/templates/mobile/edit-invoice/edit_invoice.xml
  timary/templates/mobile/edit-invoice/edit_invoice_form.xml
  timary/templates/mobile/edit_invoice_form.xml
  timary/templates/mobile/invoices/_invoice.xml
  timary/templates/mobile/invoices/_invoices.xml
  timary/templates/mobile/invoices/invoices.xml
  timary/urls.py
  timary/views/mobile.py
Due: django-check, django-tests

remove redundant button style
  timary/templates/mobile/_login_form.xml
  timary/templates/mobile/_primary_button_styles.xml
  timary/templates/mobile/edit-hours/edit_hours.xml
  timary/templates/mobile/edit-hours/edit_hours_form.xml
  timary/templates/mobile/edit-invoice/edit_invoice.xml
  timary/templates/mobile/edit-invoice/edit_invoice_form.xml
  timary/templates/mobile/edit-profile/edit_profile.xml
  timary/templates/mobile/edit-profile/edit_profile_form.xml
  timary/templates/mobile/index.xml
  timary/templates/mobile/new-hours/new_hours.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/templates/mobile/new-invoices/new_invoice.xml
  timary/templates/mobile/new-invoices/new_invoice_form.xml
Due: none

add invoice detail view
  timary/templates/mobile/base_styles.xml
  timary/templates/mobile/edit-invoice/edit_invoice_form.xml
  timary/templates/mobile/invoices/_invoice.xml
  timary/templates/mobile/invoices/_invoice_detail.html
  timary/templates/mobile/invoices/_invoice_detail.xml
  timary/views/mobile.py
Due: django-check, django-tests

add toast message
  timary/templates/mobile/_login_form.xml
  timary/templates/mobile/_toast.xml
  timary/templates/mobile/edit-hours/edit_hours_form.xml
  timary/templates/mobile/edit-invoice/edit_invoice_form.xml
  timary/templates/mobile/edit-profile/edit_profile_form.xml
  timary/templates/mobile/edit_invoice_form.xml
  timary/templates/mobile/empty.xml
  timary/templates/mobile/new-hours/new_hours_form.xml
  timary/templates/mobile/new-invoices/new_invoice_form.xml
  timary/views/mobile.py
Due: django-check, django-tests

update navigation to push for new actions
  mobile/templates/mobile/edit-hours/edit_hours.xml
  mobile/templates/mobile/edit-invoice/edit_invoice.xml
  mobile/templates/mobile/edit-profile/edit_profile.xml
  mobile/templates/mobile/header/_new_header.xml
  mobile/templates/mobile/hours/hours.xml
  mobile/templates/mobile/invoices/_invoice_detail.xml
  mobile/templates/mobile/invoices/invoices.xml
  mobile/templates/mobile/new-hours/new_hours.xml
  mobile/templates/mobile/new-invoices/new_invoice.xml
  mobile/templates/mobile/profile/profile.xml
Due: none

add sent invoices views/logic
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/footer.xml
  mobile/templates/mobile/invoices/invoices.xml
  mobile/templates/mobile/sent-invoices/_sent_invoice.xml
  mobile/templates/mobile/sent-invoices/_sent_invoices.xml
  mobile/templates/mobile/sent-invoices/sent_invoices.xml
  mobile/urls.py
  mobile/views.py
Due: django-check, django-tests

add input partials
  mobile/templates/mobile/edit-hours/edit_hours_form.xml
  mobile/templates/mobile/edit-invoice/edit_invoice_form.xml
  mobile/templates/mobile/edit-profile/edit_profile_form.xml
  mobile/templates/mobile/inputs/date_field.xml
  mobile/templates/mobile/inputs/submit_btn.xml
  mobile/templates/mobile/inputs/text_field.xml
  mobile/templates/mobile/invoices/_invoice.xml
  mobile/templates/mobile/new-hours/new_hours_form.xml
  mobile/templates/mobile/new-invoices/new_invoice_form.xml
Due: none

fix bug
  mobile/templates/mobile/invoices/_invoice.xml
Due: none

simplify error messages
  mobile/templates/mobile/_errors.xml
  mobile/templates/mobile/_login_form.xml
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/edit-hours/edit_hours_form.xml
  mobile/templates/mobile/edit-invoice/edit_invoice_form.xml
  mobile/templates/mobile/edit-profile/edit_profile_form.xml
  mobile/templates/mobile/new-hours/new_hours_form.xml
  mobile/templates/mobile/new-invoices/new_invoice_form.xml
  mobile/urls.py
  mobile/views.py
  timary/templatetags/filters.py
Due: django-check, django-tests

update profile page
  mobile/templates/mobile/app-info/privacy.xml
  mobile/templates/mobile/app-info/terms.xml
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/header/_edit_header.xml
  mobile/templates/mobile/profile/_profile.xml
  mobile/templates/mobile/profile/profile.xml
  mobile/urls.py
  mobile/views.py
Due: django-check, django-tests

use react native link instead of using webview
  mobile/templates/mobile/app-info/privacy.xml
  mobile/templates/mobile/app-info/terms.xml
  mobile/templates/mobile/profile/profile.xml
  mobile/urls.py
  mobile/views.py
Due: django-check, django-tests

update profile and login page
  mobile/templates/mobile/_login_form.xml
  mobile/templates/mobile/index.xml
  mobile/templates/mobile/inputs/submit_btn.xml
  mobile/templates/mobile/inputs/text_field.xml
  mobile/templates/mobile/profile/profile.xml
  mobile/views.py
Due: django-check, django-tests

add timer screen
  mobile/templates/mobile/footer.xml
  mobile/templates/mobile/inputs/text_field.xml
  mobile/templates/mobile/timer/_timer.xml
  mobile/templates/mobile/timer/timer.xml
  mobile/urls.py
  mobile/views.py
  timary/templates/stopwatch.html
Due: django-check, django-tests

add loader when button pressed
  mobile/templates/mobile/sent-invoices/_sent_invoice.xml
Due: none

Use rn stopwatch library
  mobile/templates/mobile/timer/_timer.xml
  mobile/templates/mobile/timer/timer.xml
  timary/templates/stopwatch.html
Due: none

cleanup timer component ui
  mobile/templates/mobile/timer/_timer.xml
Due: none

add expo app into repo
  mobile/app/.gitignore
  mobile/app/App.js
  mobile/app/app.json
  mobile/app/babel.config.js
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/src/HandleBack.js
  mobile/app/src/HyperviewScreen.js
  mobile/app/src/Navigator.js
  mobile/app/src/TimaryStopwatch.js
  mobile/app/src/constants.js
  mobile/app/src/gesture-handler/index.js
  mobile/app/src/gesture-handler/index.web.js
Due: none

show graph data in column
  mobile/templates/mobile/invoices/_invoice_detail.html
  timary/models.py
  timary/templates/partials/_invoice_collapsed_content.html
Due: django-check, django-check-migrations, django-tests

update lists to use list styling and use SecureStore over AsyncStorage
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/src/HyperviewScreen.js
  mobile/app/src/Navigator.js
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/invoices/_invoices.xml
  mobile/templates/mobile/sent-invoices/_sent_invoices.xml
Due: none

cleanup event names
  mobile/templates/mobile/edit-hours/edit_hours_form.xml
  mobile/templates/mobile/edit-profile/edit_profile_form.xml
  mobile/templates/mobile/empty.xml
  mobile/templates/mobile/footer.xml
  mobile/templates/mobile/hours/hours.xml
  mobile/templates/mobile/profile/profile.xml
Due: none

update invoices not logged to method instead of property
  timary/models.py
  timary/tasks.py
  timary/tests/test_models.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

only retrieve messages with user's phone_number
  timary/services/twilio_service.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

use toast for alerts
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
Due: none

add haptic feedback for notifications
  mobile/app/package-lock.json
  mobile/app/package.json
  mobile/app/src/HyperviewScreen.js
  mobile/templates/mobile/edit-hours/edit_hours_form.xml
  mobile/templates/mobile/edit-invoice/edit_invoice_form.xml
  mobile/templates/mobile/edit-profile/edit_profile_form.xml
  mobile/templates/mobile/inputs/text_field.xml
  mobile/templates/mobile/new-hours/new_hours_form.xml
  mobile/templates/mobile/new-invoices/new_invoice_form.xml
  mobile/views.py
Due: django-check, django-tests

add loading screen
  mobile/app/App.js
  mobile/app/src/LoadingScreen.js
  mobile/app/src/Navigator.js
Due: none

use render-block package to reduce # of files
  mobile/templates/mobile/edit-hours/edit_hours.xml
  mobile/templates/mobile/edit-hours/edit_hours_form.xml
  mobile/templates/mobile/edit-invoice/edit_invoice.xml
  mobile/templates/mobile/edit-profile/edit_profile.xml
  mobile/templates/mobile/edit_hours.xml
  mobile/templates/mobile/edit_invoice.xml
  mobile/templates/mobile/edit_profile.xml
  mobile/templates/mobile/hours/_hours.xml
  mobile/templates/mobile/hours/_stats.xml
  mobile/templates/mobile/hours/hours.xml
  mobile/templates/mobile/invoices/_invoices.xml
  mobile/templates/mobile/invoices/invoices.xml
  mobile/templates/mobile/new-hours/new_hours.xml
  mobile/templates/mobile/new-invoices/new_invoice.xml
  mobile/templates/mobile/new_hours.xml
  mobile/templates/mobile/new_invoice.xml
  mobile/templates/mobile/profile.xml
  mobile/templates/mobile/profile/_profile.xml
  mobile/templates/mobile/sent-invoices/_sent_invoices.xml
  mobile/templates/mobile/sent-invoices/sent_invoices.xml
  mobile/templates/mobile/timer.xml
  mobile/templates/mobile/timer/timer.xml
  mobile/utils.py
  mobile/views.py
  requirements.in
  requirements.txt
Due: django-check, django-tests

add questions screen
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/inputs/text_field.xml
  mobile/templates/mobile/profile.xml
  mobile/templates/mobile/questions.xml
  mobile/urls.py
  mobile/views.py
Due: django-check, django-tests

ui bug fixes
  mobile/app/src/Navigator.js
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/edit_hours.xml
  mobile/templates/mobile/inputs/date_field.xml
  mobile/templates/mobile/new_hours.xml
  mobile/views.py
Due: django-check, django-tests

simply membership tiers
  timary/admin.py
  timary/forms.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0011_remove_user_membership_tier.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/auth/register.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_membership.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/auth.py
  timary/views/invoices.py
  timary/views/settings.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
