Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace

  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.0
    hooks:
      - id: flake8

  - repo: 'https://github.com/pycqa/isort'
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: 'https://github.com/psf/black'
    rev: 21.9b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

use default env vars for github actions
  timaryproject/settings.py
Due: django-check, django-tests

set debug default to true
  timaryproject/settings.py
Due: django-check, django-tests

Create README
  README.md
Due: none

upgrade pre-commit config
  .pre-commit-config.yaml
Due: none

add new pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
  setup.cfg
  timary/tasks.py
  timary/templates/auth/login.html
  timary/templates/auth/signup.html
  timary/templates/email/invoice_subject.html
  timary/templates/email/styled_email.html
  timary/templates/partials/_form.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/base.html
Due: django-check, django-tests

remove isort
  .pre-commit-config.yaml
Due: none

add dasiyui classes
  timary/templates/auth/login.html
  timary/templates/auth/signup.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_form.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/views/auth.py
Due: django-check, django-tests

update profile template, views, forms
  timary/forms.py
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_profile.html
  timary/templates/timary/profile.html
  timary/urls.py
  timary/views/profile.py
Due: django-check, django-tests

add profile form + view tests
  timary/forms.py
  timary/templates/partials/_htmx_put_form.html
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_profiles.py
  timary/urls.py
Due: django-check, django-tests

add html formatter in pre-commit
  .pre-commit-config.yaml
  timary/templates/auth/login.html
  timary/templates/auth/signup.html
  timary/templates/email/styled_email.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_profile.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
Due: none

fix tests
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

update requirements file
  requirements.txt
Due: none

make sure delete actions work
  timary/forms.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

add django-csp and custom timary admin site
  requirements.txt
  timary/admin.py
  timary/templates/admin/custom_app_list.html
  timary/templates/admin/custom_index.html
  timary/templates/admin/custom_page.html
  timary/templates/admin/nav_sidebar.html
  timary/templates/timary/base.html
  timary/urls.py
  timaryproject/settings.py
Due: django-check, django-tests

update csp settings
  timaryproject/settings.py
Due: django-check, django-tests

add nonce scripts
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timaryproject/settings.py
Due: django-check, django-tests

add custom send emails admin page
  timary/admin.py
  timary/templates/admin/custom_app_list.html
  timary/templates/admin/send_email.html
  timary/templates/partials/_form.html
  timaryproject/settings.py
Due: django-check, django-tests

move link pages down in page render
  timary/templates/timary/base.html
Due: none

put css links in header
  timary/templates/timary/base.html
Due: none

add more email tests
  timary/tasks.py
  timary/tests/test_emails.py
Due: django-check, django-tests

update tests with subtests
  timary/tests/test_emails.py
Due: django-check, django-tests

add modals for new forms + update put forms
  timary/templates/hours/edit_hours.html
  timary/templates/hours/new_hours.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/urls.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

update hours/invoice partials
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
Due: none

fix tests
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

update styling + modal action buttons
  timary/forms.py
  timary/migrations/0005_alter_dailyhoursinput_hours.py
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_form.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_profile.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/hours.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

fix hours modal not closing
  timary/templates/partials/_dashboard_stats.html
  timary/templates/timary/index.html
Due: none

set links to clearer colors
  timary/templates/auth/login.html
  timary/templates/auth/signup.html
Due: none

fix dropdown issue for mobile
  Makefile
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timaryproject/settings.py
Due: django-check, django-tests

cleanup ui forms
  timary/forms.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_htmx_post_form.html
  timary/templates/partials/_htmx_put_form.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/index.html
  timary/views/hours.py
  timaryproject/settings.py
Due: django-check, django-tests

set max connection age to none
  timaryproject/settings.py
Due: django-check, django-tests

remove conn max age
  timaryproject/settings.py
Due: django-check, django-tests

set conn age to 10 minutes
  timaryproject/settings.py
Due: django-check, django-tests

set polling to 30 minutes
  timaryproject/settings.py
Due: django-check, django-tests

don't invoice if no hours have been tracked for period
  timary/tasks.py
  timary/tests/test_emails.py
Due: django-check, django-tests

keep sqlite3 in prod
  timaryproject/settings.py
Due: django-check, django-tests

update gh actions to cache pip
  .github/workflows/.github-actions.yml
Due: none

update gh actions
  .github/workflows/.github-actions.yml
Due: none

fix tests
  timary/tests/test_emails.py
Due: django-check, django-tests

updated few nitpicks"
  timary/forms.py
  timary/templates/timary/base.html
Due: django-check, django-tests
