Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.2.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude: (staticfiles)
      - id: end-of-file-fixer
        exclude: (staticfiles)
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ '-iii', '-ll' ]
  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        exclude: (staticfiles)
      - id: djcss
        exclude: (staticfiles)
      - id: djjs
        exclude: (staticfiles)
  - repo: "https://github.com/pycqa/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: "https://gitlab.com/pycqa/flake8"
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
        types:
          - python
        pass_filenames: false
        language: system

add form redirect when saved
  staticfiles/css/dist/styles.3637e0e70fde.css
  staticfiles/css/dist/styles.3637e0e70fde.css.br
  staticfiles/css/dist/styles.3637e0e70fde.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0025_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/_single_invoice.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix edge case for logging repeating hours on sat
  timary/forms.py
  timary/tests/test_forms.py
  timary/utils.py
Due: django-check, django-tests

add edge case for bi-weekly recurring hour logged on saturday
  timary/forms.py
  timary/tests/test_forms.py
Due: django-check, django-tests

update static
  staticfiles/css/dist/styles.css
  staticfiles/css/dist/styles.css.br
  staticfiles/css/dist/styles.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

add is_archived field to single invoice
  timary/migrations/0025_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

add line items to single invoice form
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

add update single invoice form + logic
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

update landing page navbar
  timary/templates/partials/_navbar.html
  timary/templates/timary/landing_page.html
  timary/tests/test_views/test_stripe_views.py
  timary/views/other.py
Due: django-check, django-tests

add more to single invoice forms
  staticfiles/css/dist/styles.51f7d7a573a3.css
  staticfiles/css/dist/styles.51f7d7a573a3.css.br
  staticfiles/css/dist/styles.51f7d7a573a3.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/models.py
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_form_errors.html
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix single form update view + calculate total price
  timary/models.py
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

setup single invoice email
  timary/models.py
  timary/templates/email/single_invoice.html
  timary/templates/invoices/single_invoice.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

add single invoice partial
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_single_invoice.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

update column names for client name and email
  timary/forms.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0025_rename_email_recipient_invoice_client_email_and_more.py
  timary/models.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/stripe_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/tasks.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/_synced_results.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

comment recurring single invoice logic for now
  timary/migrations/0026_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/single_invoice.html
Due: django-check, django-check-migrations, django-tests

update single invoice model with status field
  timary/forms.py
  timary/migrations/0026_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/partials/_single_invoice.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

update single invoice total price
  timary/models.py
  timary/templates/email/single_invoice.html
  timary/templates/partials/_single_invoice.html
Due: django-check, django-check-migrations, django-tests

add archived single invoice
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archived_single_invoice.html
  timary/views/invoices.py
Due: django-check, django-tests

update form actions
  staticfiles/css/dist/styles.7bc0b30aeca2.css
  staticfiles/css/dist/styles.7bc0b30aeca2.css.br
  staticfiles/css/dist/styles.7bc0b30aeca2.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/single_invoice.html
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

uncomment save_for_reuse for now
  timary/migrations/0026_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/single_invoice.html
Due: django-check, django-check-migrations, django-tests

add single selection to new invoice
  staticfiles/css/dist/styles.4152d722c58e.css
  staticfiles/css/dist/styles.4152d722c58e.css.br
  staticfiles/css/dist/styles.4152d722c58e.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0026_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_single_invoice.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix date util function
  timary/models.py
  timary/utils.py
Due: django-check, django-check-migrations, django-tests

add resync invoices
  staticfiles/css/dist/styles.24776df5e0e4.css
  staticfiles/css/dist/styles.24776df5e0e4.css.br
  staticfiles/css/dist/styles.24776df5e0e4.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/services/quickbooks_service.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_archived_single_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/urls.py
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

hold off until invoice models are sorted out
  timary/migrations/0027_remove_singleinvoice_timary_singleinvoice_either_interval_or_installments.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

add loading indicator to quick action button
  timary/templates/partials/_hours_list.html
Due: none

remove redundant sent invoice fields
  timary/migrations/0026_remove_sentinvoice_hours_end_date_and_more.py
  timary/models.py
  timary/tests/factories.py
  timary/tests/test_tasks.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup migrations
  timary/migrations/0027_singleinvoice_singleinvoicelineitem_and_more.py
  timary/migrations/0028_remove_singleinvoice_timary_singleinvoice_either_interval_or_installments.py
Due: django-check, django-tests

update accounting services
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/tests/factories.py
Due: django-check, django-tests

remove daily invoice
  timary/migrations/0027_alter_invoice_invoice_interval.py
  timary/models.py
  timary/tests/factories.py
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

merge with main
  timary/migrations/0028_singleinvoice_singleinvoicelineitem_and_more.py
  timary/migrations/0029_remove_singleinvoice_timary_singleinvoice_either_interval_or_installments.py
Due: django-check, django-tests

fix migrations
  timary/migrations/0028_singleinvoice_singleinvoicelineitem.py
  timary/migrations/0029_remove_singleinvoice_timary_singleinvoice_either_interval_or_installments.py
Due: django-check, django-tests

fix stripe views for single invoice
  timary/forms.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup invoice sending
  staticfiles/css/dist/styles.6e9011214da6.css
  staticfiles/css/dist/styles.6e9011214da6.css.br
  staticfiles/css/dist/styles.6e9011214da6.css.gz
  staticfiles/staticfiles.json
  timary/invoice_builder.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/invoice_preview.html
  timary/templates/email/receipt_invoice.html
  timary/templates/email/sent_invoice.html
  timary/templates/email/weekly_update.html
  timary/tests/test_tasks.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

consolidate hours logic into manager class
  timary/hours_manager.py
  timary/models.py
  timary/tests/test_models.py
  timary/tests/test_views/test_main.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

decouple line items rendering from sent_invoice template
  staticfiles/css/dist/styles.6adec4265c67.css
  staticfiles/css/dist/styles.6adec4265c67.css.br
  staticfiles/css/dist/styles.6adec4265c67.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/tasks.py
  timary/templates/email/receipt_invoice.html
  timary/templates/email/sent_invoice.html
  timary/tests/test_models.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

rename hours model
  timary/admin.py
  timary/forms.py
  timary/hours_manager.py
  timary/migrations/0028_rename_dailyhoursinput_hourslineitem.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/tests/factories.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/hours.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

add line item abstract class
  timary/admin.py
  timary/forms.py
  timary/hours_manager.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0029_remove_hourslineitem_hours_and_more.py
  timary/migrations/0030_hourslineitem_between_0_and_24_hours.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/templates/email/invoice_preview.html
  timary/templates/email/weekly_update.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice_period_hours.html
  timary/templates/timary/index.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_main.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/settings.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

fix quick actions not showing
  timary/hours_manager.py
Due: django-check, django-tests

small ux improvement for quick actions on mobile
  timary/templates/partials/_hours_list.html
Due: none

try to cleanup models
  timary/admin.py
  timary/forms.py
  timary/hours_manager.py
  timary/migrations/0031_remove_invoice_invoice_interval_and_more.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/interval/_create.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/milestone/_create.html
  timary/templates/invoices/weekly/_create.html
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests
