Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.2.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude: (staticfiles)
      - id: end-of-file-fixer
        exclude: (staticfiles)
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ '-iii', '-ll' ]
  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        exclude: (staticfiles)
      - id: djcss
        exclude: (staticfiles)
      - id: djjs
        exclude: (staticfiles)
  - repo: "https://github.com/pycqa/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: "https://gitlab.com/pycqa/flake8"
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
        types:
          - python
        pass_filenames: false
        language: system

fix invoice next date
  timary/templates/partials/_invoice_next_date.html
Due: none

fix bug that changed invoice next date when updated individually
  timary/views/invoices.py
Due: django-check, django-tests

allow referral invites by sms
  timary/forms.py
  timary/services/twilio_service.py
  timary/templates/partials/settings/account/_invite_referral.html
  timary/views/invoices.py
  timary/views/settings.py
Due: django-check, django-tests

allow client info to be re-used when creating an invoice
  timary/forms.py
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests

fix remind sms
  timary/tasks.py
Due: django-check, django-tests

convert chart library to chartjs
  staticfiles/css/dist/styles.e100695f9abc.css
  staticfiles/css/dist/styles.e100695f9abc.css.br
  staticfiles/css/dist/styles.e100695f9abc.css.gz
  staticfiles/staticfiles.json
  timary/management/commands/generate_data.py
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_models.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

cleanup modals for mobile
  staticfiles/css/dist/styles.491ed55204f6.css
  staticfiles/css/dist/styles.491ed55204f6.css.br
  staticfiles/css/dist/styles.491ed55204f6.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/hours/_create.html
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add invoice is_paused to prevent confusion
  timary/forms.py
  timary/migrations/0018_invoice_is_paused.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

reduce list of clients to unique stripe ids
  timary/forms.py
Due: django-check, django-tests

fix ui
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hours_list.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
Due: none

overhaul new invoice forms
  staticfiles/css/dist/styles.f66d246b734d.css
  staticfiles/css/dist/styles.f66d246b734d.css.br
  staticfiles/css/dist/styles.f66d246b734d.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/interval/_create.html
  timary/templates/invoices/interval/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/milestone/_create.html
  timary/templates/invoices/milestone/_update.html
  timary/templates/invoices/weekly/_create.html
  timary/templates/invoices/weekly/_update.html
  timary/templates/timary/base.html
  timary/templates/timary/profile.html
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix dropdown cuttoff on mobile
  timary/templates/invoices/manage_invoices.html
Due: none

update chartjs script
  timary/templates/invoices/manage_invoices.html
Due: none

fix bug in multiple reloads when patching hours
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/views/hours.py
Due: django-check, django-tests

update budget percentage calls
  staticfiles/css/dist/styles.2bfa0e0ca3d9.css
  staticfiles/css/dist/styles.2bfa0e0ca3d9.css.br
  staticfiles/css/dist/styles.2bfa0e0ca3d9.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_emails.py
  timary/tests/test_models.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix 500 budget bug
  timary/models.py
Due: django-check, django-check-migrations, django-tests

remove dumb variable
  timary/templates/partials/_invoice_collapsed_content.html
Due: none

cleanup invoice stats
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/templates/partials/_invoice_period_hours.html
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests

fix invoice chart width bug
  timary/templates/partials/_invoice.html
Due: none

fix patch hours not updating list
  timary/templates/partials/_invoice.html
Due: none

add default client contact
  staticfiles/css/dist/styles.03bb3f18ba59.css
  staticfiles/css/dist/styles.03bb3f18ba59.css.br
  staticfiles/css/dist/styles.03bb3f18ba59.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix invoice generator
  timary/templates/invoice_generator/builder.html
Due: none

Update forms.py
  timary/forms.py
Due: django-check, django-tests

clean ui
  staticfiles/css/dist/styles.339c3ecda918.css
  staticfiles/css/dist/styles.339c3ecda918.css.br
  staticfiles/css/dist/styles.339c3ecda918.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hours_list.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update invoices ui
  timary/templates/invoices/manage_invoices.html
Due: none

update static files
  staticfiles/css/dist/styles.ba306dde2758.css
  staticfiles/css/dist/styles.ba306dde2758.css.br
  staticfiles/css/dist/styles.ba306dde2758.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

fix dashboard stats flex bug
  timary/templates/timary/index.html
Due: none

cleanup ui
  staticfiles/css/dist/styles.f45f7e775e0d.css
  staticfiles/css/dist/styles.f45f7e775e0d.css.br
  staticfiles/css/dist/styles.f45f7e775e0d.css.gz
  staticfiles/staticfiles.json
  timary/templates/hours/_update.html
  timary/templates/invoices/_base_update.html
  timary/templates/partials/_hours_grid.html
  timary/templates/profile/_update.html
  timarytailwind/static/css/dist/styles.css
Due: none

use datetime today instead of date today for schedule
  timary/tasks.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

clean up ui
  timary/management/commands/generate_data.py
  timary/tasks.py
  timary/templates/partials/_invoice.html
  timary/templates/partials/_sent_invoice.html
Due: django-check, django-tests

update sent invoices labels
  timary/templates/partials/_sent_invoices_list.html
Due: none

cleanup nav on mobile
  timary/templates/partials/_navbar.html
Due: none

update navbar color for ios safari
  timary/templates/timary/base.html
Due: none

move views to other file
  staticfiles/css/dist/styles.b50f7d72d95b.css
  staticfiles/css/dist/styles.b50f7d72d95b.css.br
  staticfiles/css/dist/styles.b50f7d72d95b.css.gz
  staticfiles/staticfiles.json
  timary/views/__init__.py
  timary/views/main.py
  timary/views/other.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add quick hour options
  staticfiles/css/dist/styles.2e2a4802dc8e.css
  staticfiles/css/dist/styles.2e2a4802dc8e.css.br
  staticfiles/css/dist/styles.2e2a4802dc8e.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_hours_list.html
  timary/tests/test_views/test_hours.py
  timary/urls.py
  timary/views/hours.py
  timary/views/main.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

return frequent hours when repeating previous day hours
  timary/templates/partials/_hours_list.html
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
Due: django-check, django-tests

update dashboard ui
  timary/templates/partials/_dashboard_stats.html
Due: none

add recurring hours logic
  staticfiles/css/dist/styles.3baacf9d0ee0.css
  staticfiles/css/dist/styles.3baacf9d0ee0.css.br
  staticfiles/css/dist/styles.3baacf9d0ee0.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0019_dailyhoursinput_recurring_logic.py
  timary/models.py
  timary/tasks.py
  timary/templates/hours/_create.html
  timary/templates/hours/_update.html
  timary/templates/partials/_hour.html
  timary/templates/timary/index.html
  timary/templatetags/filters.py
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_twilio_views.py
  timary/utils.py
  timary/views/hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix repeating styles
  timary/templates/hours/_create.html
  timary/templates/hours/_update.html
Due: none

update ui
  Makefile
  timary/templates/hours/_update.html
Due: none
