Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

fix ui bugs
  timary/form_helpers.py
  timary/management/commands/generate_fake_invoice_email.py
  timary/models.py
  timary/templates/partials/_integrations.html
  timary/templates/partials/_settings.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templates/timary/landing_page.html
  timary/tests/test_emails.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

revert daisyui version
  timary/templates/timary/base.html
  timaryproject/settings.py
Due: django-check, django-tests

Update new invoice btn with upgrade msg
  timary/form_helpers.py
  timary/forms.py
  timary/models.py
  timary/templates/partials/_new_invoice_btn.html
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

restrict accounting integrations to just business tier
  timary/models.py
  timary/templates/timary/profile.html
Due: django-check, django-check-migrations, django-tests

restrict audit download to biz tier
  timary/models.py
  timary/templates/partials/_settings.html
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
Due: django-check, django-check-migrations, django-tests

add archived option for invoices
  timary/migrations/0019_invoice_is_archived.py
  timary/models.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/profile.html
  timary/tests/test_models.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/invoices.py
  timary/views/profile.py
Due: django-check, django-check-migrations, django-tests

add edit mem tier in settings form
  timary/form_helpers.py
  timary/forms.py
  timary/models.py
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

exclude archived invoices in hours qs
  timary/querysets.py
Due: django-check, django-tests

move invoice edit actions to form
  timary/form_helpers.py
  timary/templates/partials/_invoice.html
  timary/views/invoices.py
Due: django-check, django-tests

add close account form
  timary/forms.py
  timary/templates/timary/close_account.html
  timary/templates/timary/profile.html
  timary/tests/test_views/test_main.py
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

fix bug where stripe sub wasn't cancelled for closed account
  timary/services/stripe_service.py
  timary/tests/test_views/test_main.py
  timary/views/main.py
Due: django-check, django-tests

fix bug that didn't exlude archived invoices
  timary/forms.py
  timary/tasks.py
  timary/views/main.py
Due: django-check, django-tests

add new async task to send sneak peaks to user
  timary/tasks.py
  timary/templates/email/sneak_peak_invoice_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

split up profile view into tabs
  timary/templates/timary/profile.html
  timary/views/profile.py
Due: django-check, django-tests

fix new invoice ui
  timary/templates/invoices/manage_invoices.html
Due: none

add budget tracker per invoice
  timary/form_helpers.py
  timary/forms.py
  timary/migrations/0020_invoice_total_budget.py
  timary/models.py
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

fix twilio fetching archived invoices
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/tests/test_forms.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/twilio_views.py
  timaryproject/settings.py
Due: django-check, django-tests

fix ui bug not returning form errors
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests

fix bug where new hours form error added to hours list
  timary/forms.py
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/index.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

fix theme color
  timary/templates/timary/base.html
Due: none

clean up form errors with crispy forms
  timary/form_helpers.py
  timary/forms.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_form_errors.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_profiles.py
  timary/utils.py
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/profile.py
Due: django-check, django-tests

remove unused template filters
  timary/forms.py
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_settings_form.html
  timary/templatetags/__init__.py
  timary/templatetags/filters.py
  timary/tests/test_views/basetest.py
Due: django-check, django-tests

add options for folks to submit questions
  timary/forms.py
  timary/templates/timary/base.html
  timary/urls.py
  timary/views/main.py
Due: django-check, django-tests

fix bug not able to edit invoice
  timary/forms.py
Due: django-check, django-tests

add password reset flow
  timary/form_helpers.py
  timary/templates/timary/registration/password_reset_complete.html
  timary/templates/timary/registration/password_reset_confirm.html
  timary/templates/timary/registration/password_reset_done.html
  timary/templates/timary/registration/password_reset_email.html
  timary/templates/timary/registration/password_reset_form.html
  timary/templates/timary/registration/password_reset_subject.txt
  timary/templatetags/__init__.py
  timary/templatetags/filters.py
  timaryproject/urls.py
Due: django-check, django-tests

squash migrations
  timary/migrations/0001_squashed_0020_invoice_total_budget.py
Due: django-check, django-tests

remove old migrations
  timary/migrations/0001_initial.py
  timary/migrations/0002_alter_dailyhoursinput_managers.py
  timary/migrations/0003_alter_dailyhoursinput_managers.py
  timary/migrations/0004_alter_user_phone_number.py
  timary/migrations/0005_sentinvoice.py
  timary/migrations/0006_user_membership_tier.py
  timary/migrations/0006_user_phone_number_availability.py
  timary/migrations/0007_user_stripe_customer_id.py
  timary/migrations/0008_user_stripe_connect_id.py
  timary/migrations/0009_alter_user_membership_tier.py
  timary/migrations/0010_user_stripe_subscription_id.py
  timary/migrations/0011_user_stripe_payouts_enabled.py
  timary/migrations/0012_merge_20220123_1711.py
  timary/migrations/0013_auto_20220129_1822.py
  timary/migrations/0014_user_quickbooks_realm_id.py
  timary/migrations/0015_auto_20220206_1206.py
  timary/migrations/0016_quickbooksoauth.py
  timary/migrations/0017_auto_20220212_1820.py
  timary/migrations/0018_alter_dailyhoursinput_hours.py
  timary/migrations/0019_invoice_is_archived.py
  timary/migrations/0020_invoice_total_budget.py
Due: django-check, django-tests

only restrict invoice stats to pro and biz
  timary/models.py
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

add 1% fee plan
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0002_alter_user_membership_tier.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/partials/_settings_form.html
  timary/templates/timary/landing_page.html
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

WIP: Refactor settings view
  timary/forms.py
  timary/models.py
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_edit_sms.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_sms.html
  timary/urls.py
  timary/views/__init__.py
  timary/views/profile.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

fix tests
  timary/forms.py
  timary/migrations/0003_alter_user_membership_tier.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/views/profile.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

add update payment method setting
  timary/services/stripe_service.py
  timary/templates/partials/_navbar.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/timary/profile.html
  timary/urls.py
  timary/views/settings.py
  timaryproject/settings.py
Due: django-check, django-tests

update settings ui
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_edit_sms.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/partials/settings/_sms.html
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

Update settings (#8)
  timary/forms.py
  timary/migrations/0003_alter_user_membership_tier.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/partials/_navbar.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_settings_form.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_edit_sms.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/partials/settings/_sms.html
  timary/templates/timary/profile.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/urls.py
  timary/views/__init__.py
  timary/views/profile.py
  timary/views/settings.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup ui
  timary/models.py
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/partials/settings/_sms.html
  timary/templates/timary/landing_page.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
Due: django-check, django-check-migrations, django-tests

start zoho integration
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0004_auto_20220319_2015.py
  timary/models.py
  timary/services/stripe_service.py
  timary/services/zoho_service.py
  timary/templates/partials/_integrations.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add xero integration
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0004_auto_20220319_2137.py
  timary/models.py
  timary/services/stripe_service.py
  timary/services/xero_service.py
  timary/templates/partials/_integrations.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

fix zoho integration bug
  timary/management/commands/generate_fake_invoice_email.py
  timary/services/zoho_service.py
Due: django-check, django-tests

fix migrations
  timary/migrations/0004_auto_20220319_2137.py
  timary/migrations/0005_auto_20220319_2015.py
Due: django-check, django-tests

move invoice actions to invoice menu button
  timary/form_helpers.py
  timary/templates/partials/_invoice.html
Due: django-check, django-tests
