Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

add starter template for proposal
  timary/admin.py
  timary/templates/proposals/_create.html
  timary/views/proposals.py
  timaryproject/settings.py
Due: django-check, django-tests

Add proposals (#38)
  staticfiles/css/dist/styles.019835e3e4a6.css
  staticfiles/css/dist/styles.019835e3e4a6.css.br
  staticfiles/css/dist/styles.019835e3e4a6.css.gz
  staticfiles/css/dist/styles.ac57bddbc332.css
  staticfiles/css/dist/styles.ac57bddbc332.css.br
  staticfiles/css/dist/styles.ac57bddbc332.css.gz
  staticfiles/staticfiles.json
  timary/admin.py
  timary/forms.py
  timary/migrations/0054_proposal.py
  timary/models.py
  timary/templates/clients/_client.html
  timary/templates/proposals/_create.html
  timary/templates/proposals/_update.html
  timary/templates/proposals/base_form.html
  timary/templates/proposals/print/print.css
  timary/urls.py
  timary/views/__init__.py
  timary/views/proposals.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add date sent under proposals
  timary/templates/proposals/_update.html
Due: none

fix proposal actions in update page
  timary/templates/proposals/_update.html
Due: none

add signatures for user + placeholder for client
  staticfiles/css/dist/styles.019835e3e4a6.css
  staticfiles/css/dist/styles.019835e3e4a6.css.br
  staticfiles/css/dist/styles.019835e3e4a6.css.gz
  staticfiles/css/dist/styles.4e7b2e2580b9.css
  staticfiles/css/dist/styles.4e7b2e2580b9.css.br
  staticfiles/css/dist/styles.4e7b2e2580b9.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0054_proposal.py
  timary/models.py
  timary/templates/proposals/_create.html
  timary/templates/proposals/_update.html
  timary/templates/proposals/base_form.html
  timary/templates/proposals/print/print.css
  timary/templates/proposals/print/print.html
  timary/views/proposals.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add page for client to sign the proposal
  staticfiles/css/dist/styles.081c5f80261c.css
  staticfiles/css/dist/styles.081c5f80261c.css.br
  staticfiles/css/dist/styles.081c5f80261c.css.gz
  staticfiles/css/dist/styles.4e7b2e2580b9.css
  staticfiles/css/dist/styles.4e7b2e2580b9.css.br
  staticfiles/css/dist/styles.4e7b2e2580b9.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0054_proposal.py
  timary/models.py
  timary/templates/proposals/_create.html
  timary/templates/proposals/client_sign.html
  timary/templates/proposals/print/print.html
  timary/urls.py
  timary/views/proposals.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add confirmation emails after proposals are signed
  timary/templates/proposals/_update.html
  timary/views/proposals.py
Due: django-check, django-tests

Add proposal tasks
  timary/forms.py
  timary/tests/factories.py
  timary/tests/test_views/test_proposals.py
  timary/views/proposals.py
Due: django-check, django-tests

prevent updating proposal if client signed
  timary/forms.py
  timary/templates/clients/_client.html
  timary/templates/proposals/_update.html
  timary/tests/test_views/test_proposals.py
  timary/views/clients.py
  timary/views/proposals.py
Due: django-check, django-tests

add weekly end date to pause on a date
  timary/forms.py
  timary/migrations/0055_weeklyinvoice_end_date.py
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/weekly/_card.html
  timary/templates/invoices/weekly/_create.html
  timary/templates/invoices/weekly/_update.html
  timary/tests/test_tasks.py
Due: django-check, django-check-migrations, django-tests

Fix tests
  timary/tests/test_views/test_proposals.py
Due: django-check, django-tests

update landing page to lazy load images
  static/timary/landing_page/dashboard.png
  static/timary/landing_page/mobile_dashboard.png
  staticfiles/staticfiles.json
  staticfiles/timary/landing_page/dashboard.c6cb267ea1ce.png
  staticfiles/timary/landing_page/dashboard.png
  staticfiles/timary/landing_page/mobile_dashboard.baf591c670a3.png
  staticfiles/timary/landing_page/mobile_dashboard.png
  timary/templates/timary/landing_page.html
Due: none

show unsynced client and invoices count in edit accounting view
  staticfiles/css/dist/styles.081c5f80261c.css
  staticfiles/css/dist/styles.081c5f80261c.css.br
  staticfiles/css/dist/styles.081c5f80261c.css.gz
  staticfiles/css/dist/styles.772dd347a0df.css
  staticfiles/css/dist/styles.772dd347a0df.css.br
  staticfiles/css/dist/styles.772dd347a0df.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/settings/bookkeeping/_edit_accounting.html
  timary/views/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow user to cancel recurring hour
  timary/templates/hours/_update.html
  timary/tests/test_views/test_hours.py
  timary/urls.py
  timary/views/hours.py
Due: django-check, django-tests

add line item extras for single invoices pdf
  timary/templates/invoices/print/print.css
  timary/templates/invoices/print/print.html
  timary/templates/partials/_single_invoice_line_item.html
Due: none

cleanup navbar + page headers
  staticfiles/css/dist/styles.06657f378d1f.css
  staticfiles/css/dist/styles.06657f378d1f.css.br
  staticfiles/css/dist/styles.06657f378d1f.css.gz
  staticfiles/css/dist/styles.772dd347a0df.css
  staticfiles/css/dist/styles.772dd347a0df.css.br
  staticfiles/css/dist/styles.772dd347a0df.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timary/tests/test_e2e.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow users to resend a cancelled invoice
  timary/templates/partials/_sent_invoice.html
  timary/tests/test_views/test_invoices.py
  timary/views/sent_invoices.py
Due: django-check, django-tests

Highlight when last date cutoff was
  timary/templates/invoices/_base_card.html
  timary/templates/timary/base.html
Due: none

fix date reset bug
  timary/templates/timary/index.html
  timary/views/main.py
Due: django-check, django-tests

update column header
  timary/templates/taxes/_tax_summary.html
Due: none

show tax summary for each year but hide download button until switch is on
  timary/templates/taxes/_tax_summary.html
  timary/views/settings.py
Due: django-check, django-tests

update dashboard landing page pic
  staticfiles/staticfiles.json
  staticfiles/timary/landing_page/dashboard.c6cb267ea1ce.png
  staticfiles/timary/landing_page/dashboard.dc0c3bc3285c.png
  staticfiles/timary/landing_page/dashboard.png
  timary/templates/timary/landing_page.html
Due: none

add a management command to send tax summaries to all users
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/management/commands/send_tax_summary.py
Due: django-check, django-tests

small ui tweaks
  timary/templates/invoices/_base_card.html
  timary/templatetags/filters.py
  timary/views/settings.py
Due: django-check, django-tests

move invoice details into partial
  staticfiles/css/dist/styles.06657f378d1f.css
  staticfiles/css/dist/styles.06657f378d1f.css.br
  staticfiles/css/dist/styles.06657f378d1f.css.gz
  staticfiles/css/dist/styles.f14b6b5c857b.css
  staticfiles/css/dist/styles.f14b6b5c857b.css.br
  staticfiles/css/dist/styles.f14b6b5c857b.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/_base_card.html
  timary/templates/partials/_invoice_details.html
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

small ui tweaks
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_inner_list.html
  timary/templates/timary/profile.html
  timary/tests/test_views/test_hours.py
Due: django-check, django-tests

update tailwind packages
  Makefile
  staticfiles/css/dist/styles.33a38cfdc380.css
  staticfiles/css/dist/styles.33a38cfdc380.css.br
  staticfiles/css/dist/styles.33a38cfdc380.css.gz
  staticfiles/css/dist/styles.f14b6b5c857b.css
  staticfiles/css/dist/styles.f14b6b5c857b.css.br
  staticfiles/css/dist/styles.f14b6b5c857b.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/index.html
  timarytailwind/static/css/dist/styles.css
  timarytailwind/static_src/package-lock.json
Due: none

refactor building tax summary into class
  timary/management/commands/send_tax_summary.py
  timary/tax_summary.py
  timary/templates/taxes/_tax_summary.html
  timary/views/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

make trix toolbar sticky to scroll with page
  timary/templates/proposals/base_form.html
Due: none

tweak ui for hours pagination
  timary/templates/partials/_hours_inner_list.html
Due: none

cleanup manage invoice ui
  staticfiles/css/dist/styles.1ffa1b3e413c.css
  staticfiles/css/dist/styles.1ffa1b3e413c.css.br
  staticfiles/css/dist/styles.1ffa1b3e413c.css.gz
  staticfiles/css/dist/styles.33a38cfdc380.css
  staticfiles/css/dist/styles.33a38cfdc380.css.br
  staticfiles/css/dist/styles.33a38cfdc380.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_views/test_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update staticfiles
  staticfiles/css/dist/styles.1ffa1b3e413c.css
  staticfiles/css/dist/styles.1ffa1b3e413c.css.br
  staticfiles/css/dist/styles.1ffa1b3e413c.css.gz
  staticfiles/css/dist/styles.9861cedd5db2.css
  staticfiles/css/dist/styles.9861cedd5db2.css.br
  staticfiles/css/dist/styles.9861cedd5db2.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

remove invoice stats in manage invoices page
  staticfiles/css/dist/styles.1c759f1c7764.css
  staticfiles/css/dist/styles.1c759f1c7764.css.br
  staticfiles/css/dist/styles.1c759f1c7764.css.gz
  staticfiles/css/dist/styles.9861cedd5db2.css
  staticfiles/css/dist/styles.9861cedd5db2.css.br
  staticfiles/css/dist/styles.9861cedd5db2.css.gz
  staticfiles/staticfiles.json
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_views/test_invoices.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

show archived hours
  timary/querysets.py
  timary/templates/partials/_hour.html
  timary/views/recurring_invoices.py
Due: django-check, django-tests

add loader for new invoice form
  timary/templates/invoices/_invoice_selection.html
Due: none

fix bug that added loader before making request
  timary/templates/hours/_patch.html
Due: none

fix htmx target error
  timary/templates/partials/_invoice_details.html
Due: none

allow min_date to pass into hours form to set min date tracked
  timary/forms.py
  timary/views/recurring_invoices.py
Due: django-check, django-tests

add clearer python comment
  timary/forms.py
Due: django-check, django-tests

add qrcode to sent invoices for in person payments
  staticfiles/css/dist/styles.1c759f1c7764.css
  staticfiles/css/dist/styles.1c759f1c7764.css.br
  staticfiles/css/dist/styles.1c759f1c7764.css.gz
  staticfiles/css/dist/styles.6c1ecfef0f14.css
  staticfiles/css/dist/styles.6c1ecfef0f14.css.br
  staticfiles/css/dist/styles.6c1ecfef0f14.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_qrcode.html
  timary/templates/partials/_sent_invoice.html
  timary/urls.py
  timary/views/sent_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
