Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

update stripe price id settings
  timary/services/stripe_service.py
Due: django-check, django-tests

update landing page
  timary/templates/timary/landing_page.html
Due: none

Simply membership tiers (#24)
  timary/admin.py
  timary/forms.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0011_remove_user_membership_tier.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/auth/register.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_membership.html
  timary/templates/timary/landing_page.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_twilio_views.py
  timary/urls.py
  timary/views/auth.py
  timary/views/invoices.py
  timary/views/settings.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

cleanup landing page
  timary/templates/timary/landing_page.html
Due: none

add footer
  timary/templates/partials/_footer.html
  timary/templates/timary/base.html
Due: none

forgot to boost with htmx
  timary/templates/partials/_footer.html
Due: none

cleanup landing page by adding quick links
  timary/templates/timary/landing_page.html
Due: none

add free tools section to footer
  timary/templates/partials/_footer.html
Due: none

add message acknowledging error in accounting sync
  timary/views/accounting_views.py
Due: django-check, django-tests

update landing page with benefits
  timary/templates/timary/landing_page.html
Due: none

cleanup ui
  timary/forms.py
  timary/services/stripe_service.py
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/hours/_patch.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/timary/base.html
  timary/templates/timary/close_account.html
  timary/templates/timary/registration/password_reset_form.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

distinguish accounting error messages
  timary/views/accounting_views.py
Due: django-check, django-tests

cleanup ui
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
Due: none

cleanup annoying ui
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
Due: none

WIP: Improve contract builder ui
  .gitignore
  requirements.in
  requirements.txt
  timary/forms.py
  timary/templates/contract/builder.html
  timary/templates/contract/contract_pdf.html
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

improve contract form ui
  timary/forms.py
  timary/templates/contract/builder.html
  timary/templates/contract/contract_pdf.html
  timary/views/main.py
Due: django-check, django-tests

fix requirements file
  requirements.in
  requirements.txt
Due: none

fix settings
  timaryproject/settings.py
Due: django-check, django-tests

Improve contract builder ui (#25)
  .gitignore
  requirements.in
  requirements.txt
  timary/forms.py
  timary/templates/contract/builder.html
  timary/templates/contract/contract_pdf.html
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

forgot to correct contractor email
  timary/templates/contract/builder.html
Due: none

show link to view sent invoices for an archived invoice
  timary/templates/partials/_archive_invoice.html
  timary/views/invoices.py
Due: django-check, django-tests

reduce duplicate decorators
  mobile/views.py
Due: django-check, django-tests

fix broken timer
  timary/templates/timary/index.html
Due: none

WIP: add footer icons
  mobile/app/src/constants.js
  mobile/templates/mobile/base_styles.xml
  mobile/templates/mobile/footer.xml
Due: none

use django-twilio client instead in service
  timary/services/twilio_service.py
Due: django-check, django-tests

add test for invalid invoice
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

update requirements
  requirements.txt
Due: none

WIP: poc of sync timer across devices
  timary/migrations/0012_user_timer_is_active.py
  timary/models.py
  timary/templates/timary/index.html
  timary/urls.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

WIP: Listen for pause events
  timary/templates/timary/index.html
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests

fix resume/pause timer when page reloaded
  timary/templates/timary/index.html
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-tests

Add Sync timer when page refreshes (#26)
  timary/migrations/0012_user_timer_is_active.py
  timary/models.py
  timary/templates/timary/index.html
  timary/urls.py
  timary/views/hours.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

hide timer if stopped
  timary/templates/timary/index.html
  timary/views/hours.py
Due: django-check, django-tests

fix bug that didn't keep timer running after page reload
  timary/templates/timary/index.html
  timary/views/hours.py
Due: django-check, django-tests

catch bug that timer resumes after browser relaod
  timary/templates/timary/index.html
Due: none

show timer active in other pages
  timary/templates/partials/_navbar.html
  timary/templates/timary/index.html
  timary/utils.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/profile.py
Due: django-check, django-tests

fix timer reverting when other actions are taken on screen
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/index.html
  timary/views/main.py
Due: django-check, django-tests

forgot to update footer
  timary/templates/partials/_footer.html
Due: none

update to latest packages
  requirements.in
  requirements.txt
Due: none

add personal website to timary invoice branding
  timary/forms.py
  timary/models.py
  timary/templates/email/base_invoice.html
  timary/templates/invoices/invoice_branding.html
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
