Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

cleanup integrations ui
  timary/services/zoho_service.py
  timary/templates/partials/_integrations.html
  timary/templates/timary/profile.html
Due: django-check, django-tests

only delete monthly subs when changing
  timary/views/settings.py
Due: django-check, django-tests

fix subscription logic
  timary/services/stripe_service.py
  timary/views/accounting_views.py
  timary/views/settings.py
  timaryproject/settings.py
Due: django-check, django-tests

add stripe api key
  timary/services/stripe_service.py
Due: django-check, django-tests

refactor auth tokens to user model
  timary/admin.py
  timary/migrations/0006_auto_20220322_1910.py
  timary/models.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/stripe_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
Due: django-check, django-check-migrations, django-tests

fix bug changing stripe membership
  timary/views/settings.py
Due: django-check, django-tests

fix integrations ui on mobile
  timary/templates/partials/_integrations.html
Due: none

add invoice fee to upgrade message
  timary/models.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

fix accounting oauth bugs
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
Due: django-check, django-tests

set max hours log date to tomorrow
  timary/forms.py
Due: django-check, django-tests

add simple invoice overview stats
  timary/management/commands/generate_fake_data.py
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
  timaryproject/settings.py
Due: django-check, django-tests

add graph for hour stats
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templates/timary/base.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

move css link to head
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
Due: none

add xero sandbox id
  timary/management/commands/generate_fake_invoice_email.py
Due: django-check, django-tests

add sage integration
  timary/management/commands/generate_fake_invoice_email.py
  timary/migrations/0007_auto_20220328_1948.py
  timary/models.py
  timary/services/sage_service.py
  timary/templates/partials/_integrations.html
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

remove intuit oauth package
  requirements.in
  requirements.txt
  timary/migrations/0008_alter_sentinvoice_invoice.py
  timary/models.py
  timary/services/quickbook_service.py
Due: django-check, django-check-migrations, django-tests

remove freshbooks sdk
  requirements.in
  requirements.txt
  timary/services/freshbook_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

add task to refresh user tokens
  timary/tasks.py
Due: django-check, django-tests

fix growth chart
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

backfill customers and invoices for new integrations
  timary/views/accounting_views.py
Due: django-check, django-tests

Move value/max for date_tracked to init
  timary/forms.py
Due: django-check, django-tests

update landing page
  timary/templates/timary/landing_page.html
Due: none

fix minor bugs. temporarily disable django-csp middleware
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
  timaryproject/settings.py
Due: django-check, django-tests

add missing auth token
  timary/services/zoho_service.py
Due: django-check, django-tests

testing logs
  timary/views/accounting_views.py
Due: django-check, django-tests

add error logs for accounting services
  timary/custom_errors.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

add service string to accounting error
  timary/custom_errors.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
Due: django-check, django-tests

check if errors are not ok
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
Due: django-check, django-tests

use ach debit instead of card to save users money on fees
  timary/services/stripe_service.py
  timary/services/zoho_service.py
  timary/templates/email/invoice.html
  timary/templates/email/styled_email.html
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_emails.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

update requirements
  requirements.txt
Due: none

improve time tracking counter
  timary/templates/partials/timer_class.html
  timary/templates/timary/index.html
Due: none

add quick pay for payments
  timary/migrations/0009_invoice_email_recipient_stripe_customer_id.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/invoices/pay_invoice.html
  timary/urls.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

add stripe mocks
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix migration
  timary/migrations/0009_invoice_email_recipient_stripe_customer_id.py
Due: django-check, django-tests

only show saved method if customer has valid payment method
  timary/views/stripe_views.py
Due: django-check, django-tests

update twilio success message
  timary/services/twilio_service.py
Due: django-check, django-tests

add stripe webhook
  timary/migrations/0010_auto_20220416_1703.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/partials/_sent_invoice.html
  timary/tests/test_views/test_stripe_views.py
  timary/urls.py
  timary/views/stripe_views.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

add error message for quick pay
  timary/templates/invoices/pay_invoice.html
  timary/views/stripe_views.py
Due: django-check, django-tests

resend invoice email to recepient if payment failed
  timary/forms.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

add stripe quick pay tests
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests
