Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.2.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude: (staticfiles)
      - id: end-of-file-fixer
        exclude: (staticfiles)
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ '-iii', '-ll' ]
  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        exclude: (staticfiles)
      - id: djcss
        exclude: (staticfiles)
      - id: djjs
        exclude: (staticfiles)
  - repo: "https://github.com/pycqa/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: "https://gitlab.com/pycqa/flake8"
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
        types:
          - python
        pass_filenames: false
        language: system

add qrcodes to single invoices
  staticfiles/css/dist/styles.6c1ecfef0f14.css
  staticfiles/css/dist/styles.6c1ecfef0f14.css.br
  staticfiles/css/dist/styles.6c1ecfef0f14.css.gz
  staticfiles/css/dist/styles.c7c9caa1b34c.css
  staticfiles/css/dist/styles.c7c9caa1b34c.css.br
  staticfiles/css/dist/styles.c7c9caa1b34c.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_qrcode.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_e2e.py
  timary/views/sent_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow single invoices to generate qr codes + sent invoice
  timary/templates/invoices/_invoice_selection.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/single_invoices.py
Due: django-check, django-tests

fix qrcode single invoice swapping bug
  timary/tasks.py
  timary/templates/partials/_single_invoice.html
  timary/tests/test_tasks.py
  timary/views/sent_invoices.py
  timary/views/single_invoices.py
Due: django-check, django-tests

remove sent invoice stats, may bring this back in another feature
  staticfiles/css/dist/styles.3958e2a565c3.css
  staticfiles/css/dist/styles.3958e2a565c3.css.br
  staticfiles/css/dist/styles.3958e2a565c3.css.gz
  staticfiles/css/dist/styles.c7c9caa1b34c.css
  staticfiles/css/dist/styles.c7c9caa1b34c.css.br
  staticfiles/css/dist/styles.c7c9caa1b34c.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_sent_invoices_list.html
  timary/views/sent_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

tweak loaders for several forms
  timary/templates/expenses/_form.html
  timary/templates/hours/_patch.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_edit_hours_post.html
  timary/templates/partials/_expense.html
  timary/templates/partials/_patch_sent_invoice_hour.html
Due: none

fix bug that didn't add correct timer value after a stopped refresh
  timary/templates/partials/_navbar.html
Due: none

update daisyui
  timarytailwind/static_src/package-lock.json
  timarytailwind/static_src/package.json
Due: none

update tailwind version
  timarytailwind/static_src/package-lock.json
  timarytailwind/static_src/package.json
Due: none

move stripe connect messages outside nav component
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
Due: none

update onboarding task keys to be more reader friendly
  timary/models.py
  timary/tests/test_models.py
  timary/views/clients.py
  timary/views/hours.py
  timary/views/profile.py
  timary/views/recurring_invoices.py
Due: django-check, django-check-migrations, django-tests

update timer logic
  timary/context_processors.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timaryproject/settings.py
Due: django-check, django-tests

move logic to backend
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/utils.py
  timary/views/__init__.py
  timary/views/main.py
  timary/views/profile.py
  timary/views/recurring_invoices.py
  timary/views/timer.py
Due: django-check, django-tests

cleanup timer
  timary/templates/timary/base.html
  timary/views/timer.py
Due: django-check, django-tests

update timer_is_active model to jsonfield
  timary/migrations/0056_alter_user_timer_is_active.py
  timary/models.py
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/utils.py
  timary/views/hours.py
  timary/views/timer.py
Due: django-check, django-check-migrations, django-tests

get it closer to a good implementation
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/utils.py
  timary/views/hours.py
  timary/views/main.py
  timary/views/timer.py
Due: django-check, django-tests

cleanup start/stop ux
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
Due: none

Update timer logic (#39)
  timary/context_processors.py
  timary/migrations/0056_alter_user_timer_is_active.py
  timary/models.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/urls.py
  timary/utils.py
  timary/views/__init__.py
  timary/views/hours.py
  timary/views/main.py
  timary/views/profile.py
  timary/views/recurring_invoices.py
  timary/views/timer.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

set default timer is active key/values
  staticfiles/css/dist/styles.3958e2a565c3.css
  staticfiles/css/dist/styles.3958e2a565c3.css.br
  staticfiles/css/dist/styles.3958e2a565c3.css.gz
  staticfiles/css/dist/styles.5725acd58de4.css
  staticfiles/css/dist/styles.5725acd58de4.css.br
  staticfiles/css/dist/styles.5725acd58de4.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0056_alter_user_timer_is_active.py
  timary/models.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

only show timer controls in the main view
  timary/context_processors.py
  timary/templates/partials/_timer.html
  timary/templates/timary/base.html
  timary/tests/test_views/test_main.py
Due: django-check, django-tests

ui tweaks to timer and invoice pdf copy
  timary/templates/invoices/print/print.html
  timary/templates/partials/_dashboard_stats.html
Due: none

fix timer pause bug
  timary/templates/timary/base.html
Due: none

move tooltip lang to helper text
  timary/templates/hours/_create.html
Due: none

hide edit hours for archived sent invoices, maybe add back later if requested
  staticfiles/css/dist/styles.5725acd58de4.css
  staticfiles/css/dist/styles.5725acd58de4.css.br
  staticfiles/css/dist/styles.5725acd58de4.css.gz
  staticfiles/css/dist/styles.62a63667bb2f.css
  staticfiles/css/dist/styles.62a63667bb2f.css.br
  staticfiles/css/dist/styles.62a63667bb2f.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_sent_invoice.html
  timary/tests/test_views/test_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

don't allow proposals to be deleted if client has signed
  timary/templates/proposals/_update.html
  timary/tests/test_views/test_proposals.py
  timary/views/proposals.py
Due: django-check, django-tests

fix cancel accounting service template bug
  timary/templates/expenses/_form.html
  timary/templates/partials/_expense.html
  timary/templates/partials/_navbar.html
  timary/views/accounting_views.py
Due: django-check, django-tests

ui tweak
  timary/templates/clients/_client.html
Due: none

update requirements
  requirements.txt
Due: none

remove deprecated setting
  staticfiles/css/dist/styles.2352fcba7183.css
  staticfiles/css/dist/styles.2352fcba7183.css.br
  staticfiles/css/dist/styles.2352fcba7183.css.gz
  staticfiles/css/dist/styles.62a63667bb2f.css
  staticfiles/css/dist/styles.62a63667bb2f.css.br
  staticfiles/css/dist/styles.62a63667bb2f.css.gz
  staticfiles/staticfiles.json
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Stop using deprecated assert
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

update npm packages
  staticfiles/css/dist/styles.116383dc4583.css
  staticfiles/css/dist/styles.116383dc4583.css.br
  staticfiles/css/dist/styles.116383dc4583.css.gz
  staticfiles/css/dist/styles.2352fcba7183.css
  staticfiles/css/dist/styles.2352fcba7183.css.br
  staticfiles/css/dist/styles.2352fcba7183.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
  timarytailwind/static_src/package-lock.json
  timarytailwind/static_src/package.json
Due: none

fix styles from new css upgrades
  staticfiles/css/dist/styles.116383dc4583.css
  staticfiles/css/dist/styles.116383dc4583.css.br
  staticfiles/css/dist/styles.116383dc4583.css.gz
  staticfiles/css/dist/styles.fa4b2aa11b5a.css
  staticfiles/css/dist/styles.fa4b2aa11b5a.css.br
  staticfiles/css/dist/styles.fa4b2aa11b5a.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/services/stripe_service.py
  timary/templates/clients/_client.html
  timary/templates/hours/_create.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_form_errors.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_inner_list.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_single_invoice.html
  timary/templates/partials/_single_invoice_line_item.html
  timary/templates/partials/settings/bookkeeping/_edit_accounting.html
  timary/templates/timary/base.html
  timary/templates/timary/close_account.html
  timary/templates/timary/index.html
  timary/templates/timary/registration/password_reset_form.html
  timary/tests/test_views/test_expenses.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Update landing page
  timary/templates/timary/landing_page.html
Due: none

fix header color for safari
  timary/templates/timary/base.html
  timary/templates/timary/landing_page.html
Due: none

fix single invoice card
  timary/templates/partials/_single_invoice.html
Due: none

fix dropdown z index bug
  timary/templates/partials/_hours_inner_list.html
Due: none

update bg color for hour card
  timary/templates/partials/_hour.html
Due: none

update a bunch of loading states for actions
  timary/templates/clients/_form.html
  timary/templates/expenses/_form.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_base_card.html
  timary/templates/invoices/_base_create.html
  timary/templates/invoices/_base_update.html
  timary/templates/invoices/interval/_card.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_edit_hours_post.html
  timary/templates/partials/_expense.html
  timary/templates/partials/_hours_inner_list.html
  timary/templates/partials/_invoice_details.html
  timary/templates/partials/_patch_sent_invoice_hour.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/templates/partials/settings/account/_add_subscription.html
  timary/templates/partials/settings/account/_cancel_subscription.html
  timary/templates/partials/settings/account/_edit_password.html
  timary/templates/partials/settings/account/_edit_payment_method.html
  timary/templates/partials/settings/account/_invite_referral.html
  timary/templates/partials/settings/bookkeeping/_edit_accounting.html
  timary/templates/partials/settings/preferences/_edit_sms.html
  timary/templates/profile/_update.html
Due: none

ui tweaks
  timary/templates/clients/_client.html
  timary/templates/invoices/_base_card.html
  timary/templates/partials/_invoice_details.html
  timary/templates/partials/_single_invoice.html
  timary/templates/timary/base.html
Due: none

update static files
  staticfiles/css/dist/styles.2c4b3e22f899.css
  staticfiles/css/dist/styles.2c4b3e22f899.css.br
  staticfiles/css/dist/styles.2c4b3e22f899.css.gz
  staticfiles/css/dist/styles.fa4b2aa11b5a.css
  staticfiles/css/dist/styles.fa4b2aa11b5a.css.br
  staticfiles/css/dist/styles.fa4b2aa11b5a.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/landing_page.html
  timarytailwind/static/css/dist/styles.css
  timarytailwind/static_src/package-lock.json
  timarytailwind/static_src/package.json
Due: none

Fix invoice reminder task bug + fix broken hour tests
  timary/tasks.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests
