Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast'
  pass_filenames: false
  language: system

add update email + tests
  timary/services/stripe_service.py
  timary/tests/test_views/test_auth.py
Due: django-check, django-tests

pass user id to stripe onboard to tighten registration
  timary/services/stripe_service.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

Referral program (#17)
  timary/forms.py
  timary/migrations/0008_user_referrer_id.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_invite_referral.html
  timary/templates/partials/settings/_referrals.html
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_profiles.py
  timary/urls.py
  timary/views/auth.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

fix migration
  timary/migrations/0008_user_referrer_id.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

fix flaky test
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix flaky test
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-tests

cleanup code
  timary/tasks.py
  timary/tests/test_emails.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

forgot about invoice fee
  timary/templates/partials/settings/_edit_membership.html
  timary/views/settings.py
Due: django-check, django-tests

tighten up sms skip logic
  timary/services/twilio_service.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

fix invoice sending not counting for excluded hours
  timary/models.py
  timary/tests/test_emails.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

move error logging to caller function
  timary/custom_errors.py
  timary/models.py
  timary/services/sage_service.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

maybe fix flaky test
  timary/tests/factories.py
Due: django-check, django-tests

add tests covering accounting errors for sage
  timary/tests/test_services/test_sage.py
Due: django-check, django-tests

stop sync on first error
  timary/custom_errors.py
  timary/views/accounting_views.py
Due: django-check, django-tests

remove account tokens if error occurs in invoice syncing
  timary/custom_errors.py
  timary/views/accounting_views.py
Due: django-check, django-tests

improve quickbooks
  timary/models.py
  timary/services/quickbook_service.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

improve freshbooks
  timary/services/freshbook_service.py
  timary/tests/test_services/test_freshbooks.py
  timary/views/accounting_views.py
Due: django-check, django-tests

improve zoho
  timary/services/zoho_service.py
  timary/tests/test_services/test_zoho.py
  timary/views/accounting_views.py
Due: django-check, django-tests

improve xero
  timary/services/xero_service.py
  timary/tests/test_services/test_xero.py
  timary/views/accounting_views.py
Due: django-check, django-tests

Improve accounting error catching/logging (#18)
  timary/custom_errors.py
  timary/models.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

only mark invoice milestone as complete when current step is greater than total
  timary/templates/partials/_invoice.html
  timary/views/invoices.py
Due: django-check, django-tests

fix ui tests
  timary/tests/test_e2e.py
Due: django-check, django-tests

WIP: Start refactoring
  timary/models.py
  timary/services/accounting_service.py
  timary/templates/partials/settings/_edit_accounting.html
  timary/urls.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

consolidte services
  timary/custom_errors.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0009_auto_20220818_2147.py
  timary/models.py
  timary/services/accounting_service.py
  timary/services/freshbook_service.py
  timary/services/quickbook_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/tests/test_models.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
  timary/urls.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

remove unused property
  timary/models.py
Due: django-check, django-check-migrations, django-tests

forgot to pass request object
  timary/views/accounting_views.py
Due: django-check, django-tests

rename services
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/tasks.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/views/accounting_views.py
Due: django-check, django-tests

protect accounting services url
  timary/services/accounting_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

move sync logic to accounting service
  timary/services/accounting_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

Refactor and consolidate accounting services (#19)
  timary/custom_errors.py
  timary/management/commands/generate_data.py
  timary/management/commands/generate_invoice_email.py
  timary/management/commands/generate_invoice_preview_email.py
  timary/migrations/0009_auto_20220818_2147.py
  timary/models.py
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/tasks.py
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/tests/test_models.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
  timary/urls.py
  timary/views/accounting_views.py
Due: django-check, django-check-migrations, django-tests

forgot to update task that updates tokens
  timary/services/accounting_service.py
  timary/tasks.py
Due: django-check, django-tests

hide invoice fee option for now
  timary/templates/auth/register.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/timary/landing_page.html
Due: none

minor ui fixes
  timary/templates/auth/login.html
  timary/templates/invoices/invoice_branding.html
Due: none

upgrade requirements
  requirements.txt
Due: none

tighten up logic if an accounting service is linked
  timary/models.py
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_accounting.html
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

add weekly invoice type
  timary/forms.py
  timary/migrations/0001_initial.py
  timary/migrations/0010_rename_hourly_rate_invoice_invoice_rate_and_more.py
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templatetags/filters.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/basetest.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
  timary/views/main.py
Due: django-check, django-check-migrations, django-tests

Exclude users that don’t have accounting orgs in refresh task.
  timary/tasks.py
Due: django-check, django-tests

add tests
  timary/models.py
  timary/tasks.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/partials/_invoice.html
  timary/tests/test_emails.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

add weekly update test
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests

remove localtime references + update hours states fetching
  timary/models.py
  timary/tasks.py
  timary/tests/test_emails.py
  timary/tests/test_views/test_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
