Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

fix migration
  timary/migrations/0006_user_invoice_branding.py
Due: django-check, django-tests

allow due date to be set
  timary/migrations/0006_user_invoice_branding.py
  timary/models.py
  timary/templates/invoices/invoice_branding.html
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

add form for invoice branding configs
  timary/forms.py
  timary/tests/test_forms.py
  timary/views/settings.py
Due: django-check, django-tests

allow company name to be set
  timary/forms.py
  timary/models.py
  timary/templates/invoices/invoice_branding.html
  timary/tests/test_forms.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

only send emails when hours have been logged that week
  timary/tasks.py
Due: django-check, django-tests

add option to hide timary branding
  timary/forms.py
  timary/models.py
  timary/templates/invoices/invoice_branding.html
  timary/tests/test_forms.py
Due: django-check, django-check-migrations, django-tests

send introductory email after signup
  timary/views/auth.py
Due: django-check, django-tests

move archived invoices into invoice page
  timary/migrations/0001_initial.py
  timary/migrations/0002_dailyhoursinput_sent_invoice_id.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/timary/profile.html
  timary/tests/test_emails.py
  timary/views/invoices.py
  timary/views/profile.py
Due: django-check, django-tests

move sent invoices to invoice partial
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_sent_invoices_list.html
  timary/templates/timary/profile.html
  timary/urls.py
  timary/views/invoices.py
Due: django-check, django-tests

move accounting integrations into settings partial and cleanup profile view
  timary/models.py
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_update_accounting.html
  timary/templates/timary/profile.html
  timary/tests/test_models.py
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/profile.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

show profile pic option
  timary/forms.py
  timary/models.py
  timary/templates/invoices/invoice_branding.html
  timary/tests/test_forms.py
Due: django-check, django-check-migrations, django-tests

small invoice email enhancement
  timary/views/invoices.py
Due: django-check, django-tests

add social media links
  timary/forms.py
  timary/models.py
  timary/templates/invoices/invoice_branding.html
  timary/tests/test_forms.py
Due: django-check, django-check-migrations, django-tests

allow professional accounts to view invoice stats
  timary/models.py
  timary/templates/timary/landing_page.html
Due: django-check, django-check-migrations, django-tests

remove footer padding
  timary/templates/invoices/invoice_branding.html
Due: none

update styled email template + references to use invoice branding properties if available
  timary/models.py
  timary/tasks.py
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/styled_email.html
  timary/templates/email/weekly_update_email.html
  timary/templates/partials/settings/_update_accounting.html
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

WIP: Custom invoice branding (#13)
  timary/forms.py
  timary/migrations/0006_user_invoice_branding.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/styled_email.html
  timary/templates/email/weekly_update_email.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_update_accounting.html
  timary/templates/timary/landing_page.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/urls.py
  timary/views/invoices.py
  timary/views/settings.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

update remaining email templates
  timary/tasks.py
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

remove redundant file
  timary/tasks.py
  timary/templates/email/invoice_subject.html
  timary/views/invoices.py
Due: django-check, django-tests

cleanup preview email
  timary/templates/email/base_invoice.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

move bg color to base template
  timary/templates/email/base_invoice.html
  timary/templates/email/sneak_peak_invoice_email.html
Due: none

make preheader a block for overriding
  timary/templates/email/base_invoice.html
  timary/templates/email/sneak_peak_invoice_email.html
Due: none

refactor weekly update email
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

refactor sent invoice email
  timary/models.py
  timary/tasks.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/email/styled_email.html
  timary/tests/test_emails.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

restrict to light mode until tailwind makes dark available by cdn
  timary/templates/email/base_invoice.html
Due: none

Refactor invoice templates (#14)
  timary/models.py
  timary/tasks.py
  timary/templates/email/base_invoice.html
  timary/templates/email/invoice_subject.html
  timary/templates/email/sent_invoice_email.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/styled_email.html
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
  timary/views/invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

fix invoice id not showing in emails
  timary/templates/email/sent_invoice_email.html
  timary/templates/invoices/invoice_branding.html
Due: none

fix email ui not showing correct colors
  timary/models.py
  timary/tasks.py
  timary/templates/email/base_invoice.html
  timary/templates/email/sent_invoice_email.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

use daisyui to support dark mode emails
  timary/templates/email/base_invoice.html
  timary/templates/email/sent_invoice_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

fix other email templates
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/weekly_update_email.html
  timary/tests/test_emails.py
Due: django-check, django-tests

fix resend email context
  timary/views/invoices.py
Due: django-check, django-tests

update invoice branding page to use new email template theme
  timary/templates/invoices/invoice_branding.html
Due: none

fix invoices copy
  timary/templates/auth/register.html
Due: none

only allow non-starter members to generate invoices manually
  timary/models.py
  timary/templates/partials/_invoice.html
Due: django-check, django-check-migrations, django-tests

cleanup js
  timary/templates/auth/register.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/settings/_edit_membership.html
Due: none

fix invoice branding page
  timary/templates/invoices/invoice_branding.html
Due: none

upgrade django to latest version
  requirements.txt
Due: none

reduce ach fee
  timary/services/stripe_service.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_emails.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

fix stripe error email context
  timary/views/stripe_views.py
Due: django-check, django-tests

add stripe webhook tests
  timary/tests/test_views/test_stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests
