Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

allow sms to intake hh:mm format
  timary/tests/test_views/test_twilio_views.py
  timary/utils.py
  timary/views/twilio_views.py
Due: django-check, django-tests

cleanup ui
  .pre-commit-config.yaml
  Makefile
  staticfiles/css/dist/styles.23b01fceeaf1.css
  staticfiles/css/dist/styles.23b01fceeaf1.css.br
  staticfiles/css/dist/styles.23b01fceeaf1.css.gz
  staticfiles/css/dist/styles.b638584b8da4.css
  staticfiles/css/dist/styles.b638584b8da4.css.br
  staticfiles/css/dist/styles.b638584b8da4.css.gz
  staticfiles/css/dist/styles.bd186c30e3e7.css
  staticfiles/css/dist/styles.bd186c30e3e7.css.br
  staticfiles/css/dist/styles.bd186c30e3e7.css.gz
  staticfiles/css/dist/styles.d5a1bf07c459.css
  staticfiles/css/dist/styles.d5a1bf07c459.css.br
  staticfiles/css/dist/styles.d5a1bf07c459.css.gz
  staticfiles/staticfiles.json
  timary/middleware.py
  timary/templates/partials/_hour.html
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

allow invoices to start on date user selects
  timary/forms.py
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/tests/test_forms.py
  timary/views/invoices.py
Due: django-check, django-tests

update create invoice layout
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
Due: none

fix sent invoice receipt email
  timary/models.py
  timary/templates/email/sent_invoice_email.html
  timary/tests/test_emails.py
Due: django-check, django-check-migrations, django-tests

fix invoice title parsing in sms body
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

remove stripe hurdle when registering to remove friction
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
  timary/views/stripe_views.py
Due: django-check, django-tests

small ui tweaks
  staticfiles/css/dist/styles.e93a44b5181f.css
  staticfiles/css/dist/styles.e93a44b5181f.css.br
  staticfiles/css/dist/styles.e93a44b5181f.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
Due: none

fix css
  staticfiles/css/dist/styles.d34dcc30e24e.css
  staticfiles/css/dist/styles.d34dcc30e24e.css.br
  staticfiles/css/dist/styles.d34dcc30e24e.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
Due: none

catch quickbooks inactive error
  timary/custom_errors.py
Due: django-check, django-tests

when syncing all data, pass auth token instead of re-fetching
  timary/custom_errors.py
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/templates/hours/_create.html
  timary/views/accounting_views.py
Due: django-check, django-tests

make timer alert box hidden
  timary/templates/partials/_navbar.html
Due: none

only print error if not cateloged before
  timary/custom_errors.py
Due: django-check, django-tests

add example data for new users
  timary/utils.py
  timary/views/auth.py
Due: django-check, django-tests

fix e2e tests
  timary/tasks.py
  timary/tests/test_e2e.py
  timary/utils.py
Due: django-check, django-tests

add password validation for register view
  .pre-commit-config.yaml
  Makefile
  staticfiles/css/dist/styles.b7e4d7739a8d.css
  staticfiles/css/dist/styles.b7e4d7739a8d.css.br
  staticfiles/css/dist/styles.b7e4d7739a8d.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/auth/register.html
  timary/templates/timary/base.html
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update password regex
  timary/templates/auth/register.html
Due: none

fix password validation
  timary/templates/auth/register.html
Due: none

fix total_price for sent invoice field type to decimal
  timary/migrations/0015_alter_sentinvoice_total_price.py
  timary/models.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/weekly_update_email.html
  timary/templates/invoices/pay_invoice.html
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/templates/partials/_sent_invoice.html
  timary/templatetags/filters.py
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_models.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

filter paused invoices in hours form
  timary/forms.py
  timary/templates/email/sent_invoice_email.html
  timary/templates/email/sneak_peak_invoice_email.html
  timary/templates/email/weekly_update_email.html
  timary/templates/invoices/pay_invoice.html
  timary/tests/test_emails.py
Due: django-check, django-tests

test accounting integration when connecting
  timary/services/accounting_service.py
  timary/services/freshbooks_service.py
  timary/services/quickbooks_service.py
  timary/services/sage_service.py
  timary/services/xero_service.py
  timary/services/zoho_service.py
  timary/views/accounting_views.py
Due: django-check, django-tests

add django debug toolbar
  requirements.in
  requirements.txt
  staticfiles/css/dist/styles.9bd741b0d063.css
  staticfiles/css/dist/styles.9bd741b0d063.css.br
  staticfiles/css/dist/styles.9bd741b0d063.css.gz
  staticfiles/staticfiles.json
  timaryproject/settings.py
  timaryproject/urls.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

remove debug toolbar
  Makefile
  requirements.in
  requirements.txt
  staticfiles/staticfiles.json
  timaryproject/settings.py
  timaryproject/urls.py
Due: django-check, django-tests

show invoice email id for sent invoice
  timary/templates/auth/register.html
  timary/templates/partials/_sent_invoice.html
Due: none

send success email when invoice is paid
  timary/models.py
Due: django-check, django-check-migrations, django-tests

update register copy
  timary/templates/partials/_navbar.html
Due: none

WIP: add 30 day free trial setup
  staticfiles/css/dist/styles.c8f88e5c4eb4.css
  staticfiles/css/dist/styles.c8f88e5c4eb4.css.br
  staticfiles/css/dist/styles.c8f88e5c4eb4.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0016_user_stripe_subscription_status.py
  timary/models.py
  timary/services/stripe_service.py
  timary/tasks.py
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_add_subscription.html
  timary/templates/partials/settings/account/_cancel_subscription.html
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/urls.py
  timary/views/accounting_views.py
  timary/views/auth.py
  timary/views/invoices.py
  timary/views/settings.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

dont sync accounting if subscription not active
  timary/services/accounting_service.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

check for more places for inactive account
  timary/services/stripe_service.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/settings.py
  timary/views/stripe_views.py
Due: django-check, django-tests

check for payment details when creating subscription
  timary/services/stripe_service.py
  timary/views/settings.py
Due: django-check, django-tests

send trial reminders for multiple days
  timary/services/stripe_service.py
Due: django-check, django-tests

cleanup e2e tests
  timary/tests/test_e2e.py
Due: django-check, django-tests

update requirements
  requirements.txt
Due: none

catch card errors when updating payment
  timary/views/settings.py
Due: django-check, django-tests

catch card error when updating payment method
  timary/views/settings.py
Due: django-check, django-tests

Send cancellation email when user unsubscribes
  timary/services/stripe_service.py
Due: django-check, django-tests

update landing page to showcase 30 trial
  staticfiles/css/dist/styles.a576f55c867f.css
  staticfiles/css/dist/styles.a576f55c867f.css.br
  staticfiles/css/dist/styles.a576f55c867f.css.gz
  staticfiles/staticfiles.json
  timary/templates/auth/register.html
  timary/templates/timary/landing_page.html
  timary/utils.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

add tests for inactive subscription
  timary/models.py
  timary/tasks.py
  timary/tests/test_e2e.py
  timary/tests/test_emails.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

fix wording
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-tests
