Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

add logic to cancel a sent invoice to not allow to be paid
  staticfiles/css/dist/styles.56003c3f78f5.css
  staticfiles/css/dist/styles.56003c3f78f5.css.br
  staticfiles/css/dist/styles.56003c3f78f5.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0042_alter_sentinvoice_paid_status.py
  timary/models.py
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_sent_invoices_list.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/urls.py
  timary/views/recurring_invoices.py
  timary/views/stripe_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

allow single invoices to cancel
  timary/models.py
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_single_invoice.html
  timary/views/recurring_invoices.py
  timary/views/single_invoices.py
Due: django-check, django-check-migrations, django-tests

update htmx
  timary/templates/timary/base.html
Due: none

update tailwind packages
  staticfiles/css/dist/styles.7ae44466fd5d.css
  staticfiles/css/dist/styles.7ae44466fd5d.css.br
  staticfiles/css/dist/styles.7ae44466fd5d.css.gz
  staticfiles/staticfiles.json
  timary/templates/timary/base.html
  timarytailwind/static/css/dist/styles.css
  timarytailwind/static_src/package-lock.json
Due: none

WIP: Add timezone field to user model
  timary/forms.py
  timary/migrations/0043_user_timezone_alter_lineitem_date_tracked_and_more.py
  timary/models.py
  timary/templates/auth/register.html
  timary/templates/partials/_hour.html
  timary/templates/profile/_update.html
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

fix how dashboard displays dates + times depending on user's timezone
  timary/forms.py
  timary/hours_manager.py
  timary/middlware.py
  timary/models.py
  timary/querysets.py
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_list.html
  timary/utils.py
  timary/views/hours.py
  timaryproject/settings.py
Due: django-check, django-check-migrations, django-tests

remove updated time because of timezones
  timary/templates/partials/_hour.html
Due: none

clean hours partial
  staticfiles/css/dist/styles.f8edc00b99ad.css
  staticfiles/css/dist/styles.f8edc00b99ad.css.br
  staticfiles/css/dist/styles.f8edc00b99ad.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_hour.html
  timarytailwind/static/css/dist/styles.css
Due: none

cleanup tests
  staticfiles/staticfiles.json
  timary/forms.py
  timary/models.py
  timary/tests/factories.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/utils.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix tests
  staticfiles/css/dist/styles.css
  staticfiles/css/dist/styles.css.br
  staticfiles/css/dist/styles.css.gz
  timary/forms.py
  timary/models.py
  timary/tasks.py
  timary/templates/partials/_invoice_next_date.html
  timary/templates/partials/_sent_invoice.html
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/basetest.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/utils.py
  timary/views/hours.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

fix more tests
  timary/models.py
  timary/tasks.py
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_main.py
Due: django-check, django-check-migrations, django-tests

fix more tests
  timary/tasks.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/stripe_views.py
  timary/views/twilio_views.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix more tests
  timary/forms.py
  timary/models.py
  timary/tasks.py
  timary/templates/email/receipt_invoice.html
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/views/settings.py
  timary/views/single_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add tests for timezones
  timary/forms.py
  timary/tests/test_views/test_hours.py
Due: django-check, django-tests

use timezone instead of datetime
  timary/views/settings.py
Due: django-check, django-tests

Fix timezone issues in all of app (#33)
  staticfiles/css/dist/styles.css
  staticfiles/css/dist/styles.css.br
  staticfiles/css/dist/styles.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/hours_manager.py
  timary/middlware.py
  timary/migrations/0043_user_timezone_alter_lineitem_date_tracked_and_more.py
  timary/models.py
  timary/querysets.py
  timary/tasks.py
  timary/templates/auth/register.html
  timary/templates/email/receipt_invoice.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice_next_date.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/profile/_update.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_querysets.py
  timary/tests/test_tasks.py
  timary/tests/test_views/basetest.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_main.py
  timary/tests/test_views/test_profiles.py
  timary/tests/test_views/test_stripe_views.py
  timary/tests/test_views/test_twilio_views.py
  timary/utils.py
  timary/views/hours.py
  timary/views/recurring_invoices.py
  timary/views/settings.py
  timary/views/single_invoices.py
  timary/views/stripe_views.py
  timary/views/twilio_views.py
  timaryproject/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

send sms only at 5pm localtime
  timary/tasks.py
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-tests

small ui tweak
  timary/templates/hours/_patch.html
Due: none

cleanup code
  timary/forms.py
  timary/models.py
  timary/tasks.py
  timary/tests/test_tasks.py
  timary/views/recurring_invoices.py
Due: django-check, django-check-migrations, django-tests

get start of week for weekly updates
  timary/tasks.py
Due: django-check, django-tests

don't include cancel invoices in amount owed and cleanup single invoice partial
  staticfiles/css/dist/styles.7b0c3d11c624.css
  staticfiles/css/dist/styles.7b0c3d11c624.css.br
  staticfiles/css/dist/styles.7b0c3d11c624.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/partials/_single_invoice.html
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix invoice dates
  timary/invoice_builder.py
  timary/tasks.py
  timary/templates/email/invoice_preview.html
  timary/templates/email/sent_invoice.html
Due: django-check, django-tests

Update models.py to extract late single payment
  timary/models.py
Due: django-check, django-check-migrations, django-tests

Update single.html to only show late payment of logic is true
  timary/templates/invoices/line_items/single.html
Due: none

Update _single_invoice.html to only show cancel button if able to send invoice
  timary/templates/partials/_single_invoice.html
Due: none

Update single.html
  timary/templates/invoices/line_items/single.html
Due: none

Update stripe_views.py
  timary/views/stripe_views.py
Due: django-check, django-tests

add stripe test for late single invoice balance due
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-tests

fix flaky tests
  timary/templates/partials/_invoice_next_date.html
  timary/templates/partials/_invoice_period_hours.html
  timary/tests/test_models.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
Due: django-check, django-check-migrations, django-tests

cleanup views
  timary/urls.py
  timary/views/__init__.py
  timary/views/recurring_invoices.py
  timary/views/sent_invoices.py
Due: django-check, django-tests

don't repeat already added recurring hours
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-tests

cleanup hours manager logic
  timary/hours_manager.py
  timary/models.py
  timary/querysets.py
Due: django-check, django-check-migrations, django-tests

remove invoicefactroy references
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_views/test_twilio_views.py
Due: django-check, django-check-migrations, django-tests

don't include single invoices in reminder sms task
  timary/models.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

git add action to resend invoice after updating
  timary/templates/partials/_navbar.html
  timary/views/single_invoices.py
Due: django-check, django-tests

fix tests
  timary/models.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

allow sent invoices to be updated
  staticfiles/css/dist/styles.b5c3037cc444.css
  staticfiles/css/dist/styles.b5c3037cc444.css.br
  staticfiles/css/dist/styles.b5c3037cc444.css.gz
  staticfiles/staticfiles.json
  timary/migrations/0044_sentinvoice_hourly_rate_snapshot.py
  timary/models.py
  timary/templates/partials/_edit_sent_hours.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_patch_sent_invoice_hour.html
  timary/templates/partials/_sent_invoice.html
  timary/templates/partials/_sent_invoices_list.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/sent_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

allow sent invoices updated since last sent invoice date sent
  timary/forms.py
Due: django-check, django-tests

fix weekly invoices date formatting
  timary/templates/partials/_invoice.html
  timary/templates/partials/_sent_invoice.html
  timary/templatetags/filters.py
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
