Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.0.1
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  - repo: 'https://github.com/pycqa/isort'
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: 'https://gitlab.com/pycqa/flake8'
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: 'https://github.com/psf/black'
    rev: 21.10b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast'
        types:
          - python
        pass_filenames: false
        language: system

add spinning loaders to buttons
  timary/form_helpers.py
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/templates/partials/_profile.html
  timary/templates/partials/_settings.html
  timary/templates/partials/_spinnr.html
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_edit_membership.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_edit_sms.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/partials/settings/_sms.html
  timary/templates/partials/settings/_update_accounting.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

oops, forgot one
  timary/templates/partials/_hours_list.html
Due: none

fix invoices dropdown menu
  timary/templates/partials/_invoice.html
Due: none

small tweaks
  timary/form_helpers.py
  timary/forms.py
Due: django-check, django-tests

housekeeping
  timary/form_helpers.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_form_errors.html
  timary/templates/timary/base.html
  timary/templates/timary/index.html
  timary/templates/timary/profile.html
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-tests

add util helper for form loaders
  requirements.in
  requirements.txt
  timary/form_helpers.py
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_profiles.py
  timary/utils.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/profile.py
Due: django-check, django-tests

revert ui changes
  timary/templates/invoices/manage_invoices.html
  timary/templates/timary/base.html
Due: none

fix small tweaks
  timary/templates/partials/_hour.html
  timary/templates/partials/_sent_invoice.html
Due: none

small tweak
  timary/templates/partials/_form_success.html
Due: none

WIP: refactor hour forms to plain templates
  timary/form_helpers.py
  timary/forms.py
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_form_errors.html
  timary/templates/partials/_form_success.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/index.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
Due: django-check, django-tests

refactor login
  timary/form_helpers.py
  timary/forms.py
  timary/templates/auth/login.html
  timary/tests/test_views/test_auth.py
  timary/views/auth.py
Due: django-check, django-tests

refactor register form
  timary/form_helpers.py
  timary/forms.py
  timary/templates/auth/register.html
  timary/views/auth.py
Due: django-check, django-tests

refactor profile form
  timary/form_helpers.py
  timary/forms.py
  timary/templates/profile/_update.html
  timary/tests/test_views/test_profiles.py
  timary/views/auth.py
  timary/views/profile.py
Due: django-check, django-tests

remove form helper and crispy forms
  requirements.in
  requirements.txt
  timary/form_helpers.py
  timary/forms.py
  timary/templates/auth/register.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_form_success.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/timary/index.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_main.py
  timary/utils.py
  timary/views/invoices.py
  timary/views/main.py
  timaryproject/settings.py
Due: django-check, django-tests

remove unneeded code
  timary/views/main.py
Due: django-check, django-tests

Refactor forms (#15)
  requirements.in
  requirements.txt
  timary/form_helpers.py
  timary/forms.py
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_edit_hours.html
  timary/templates/partials/_form_errors.html
  timary/templates/partials/_form_success.html
  timary/templates/partials/_hours_list.html
  timary/templates/partials/_navbar.html
  timary/templates/partials/_new_invoice_btn.html
  timary/templates/profile/_update.html
  timary/templates/timary/index.html
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_hours.py
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_main.py
  timary/tests/test_views/test_profiles.py
  timary/utils.py
  timary/views/auth.py
  timary/views/hours.py
  timary/views/invoices.py
  timary/views/main.py
  timary/views/profile.py
  timaryproject/settings.py
Due: django-check, django-tests

make sure to keep track of hourly rates per sent invoice
  timary/models.py
  timary/tests/test_models.py
  timary/views/hours.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

consolidate sent invoice creation
  timary/models.py
  timary/tasks.py
  timary/tests/test_models.py
Due: django-check, django-check-migrations, django-tests

fix multiple loaders on page
  timary/templates/hours/_create.html
  timary/templates/hours/_patch.html
  timary/templates/hours/_update.html
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/profile/_update.html
Due: none

WIP: Brainstorming cleaning up stripe js
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_payment_method.html
  timary/templates/timary/base.html
  timary/views/auth.py
  timary/views/settings.py
Due: django-check, django-tests

only show submit button for stripe elements if card is fully filled out
  timary/templates/auth/register.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/views/settings.py
Due: django-check, django-tests

tighten up update payment logic
  timary/templates/partials/settings/_edit_payment_method.html
  timary/templates/partials/settings/_payment_method.html
  timary/views/settings.py
Due: django-check, django-tests

update register stripe logic
  timary/templates/auth/register.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/views/auth.py
Due: django-check, django-tests

remove stripe ext
  timary/templates/timary/base.html
Due: none

Cleanup stripe UI + logic (#16)
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/partials/settings/_edit_payment_method.html
  timary/views/auth.py
  timary/views/settings.py
Due: django-check, django-tests

Fix cancel target
  timary/templates/partials/settings/_edit_payment_method.html
Due: none

cleanup edit accounting view
  timary/models.py
  timary/services/zoho_service.py
  timary/templates/partials/settings/_edit_accounting.html
  timary/templates/partials/settings/_update_accounting.html
  timary/tests/test_models.py
  timary/views/accounting_views.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup ui
  timary/templates/partials/settings/_accounting.html
  timary/templates/partials/settings/_membership.html
  timary/templates/partials/settings/_sms.html
Due: none

do not require budget for invoice create form
  timary/forms.py
  timary/templates/invoices/_create.html
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

fix bug to remove close btn for first invoice form
  timary/templates/invoices/_create.html
  timary/templates/invoices/manage_invoices.html
Due: none

add invoice types + milestone type support
  timary/forms.py
  timary/migrations/0007_auto_20220812_1112.py
  timary/models.py
  timary/tasks.py
  timary/templates/invoices/_create.html
  timary/templates/invoices/_update.html
  timary/templates/partials/_invoice.html
  timary/tests/factories.py
  timary/tests/test_e2e.py
  timary/tests/test_forms.py
  timary/tests/test_views/test_invoices.py
  timary/views/invoices.py
Due: django-check, django-check-migrations, django-tests

cleanup invoice partial ui
  timary/templates/invoices/manage_invoices.html
  timary/templates/partials/_invoice.html
  timary/templates/partials/_invoice_collapsed_content.html
  timary/templates/timary/base.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-tests

fix hours patch ui
  timary/forms.py
  timary/templates/hours/_patch.html
  timary/templates/invoices/manage_invoices.html
Due: django-check, django-tests

Add option to skip hours in sms
  timary/models.py
  timary/querysets.py
  timary/services/twilio_service.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-check-migrations, django-tests

fix register form field bug
  timary/templates/auth/register.html
Due: none

fix security issue when registering
  timary/forms.py
  timary/templates/auth/register.html
  timary/tests/test_forms.py
Due: django-check, django-tests

WIP: add referral form
  timary/forms.py
  timary/models.py
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_invite_referral.html
  timary/templates/partials/settings/_referrals.html
  timary/urls.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

fix dumb fix
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_twilio_views.py
  timary/views/twilio_views.py
Due: django-check, django-tests

add stripe logic to add referral discount
  timary/migrations/0008_user_referrer_id.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/auth/register.html
  timary/templates/partials/settings/_invite_referral.html
  timary/views/auth.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests

cleanup ui + add tests
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/partials/_settings.html
  timary/templates/partials/settings/_edit_membership.html
  timary/tests/test_models.py
  timary/tests/test_views/test_profiles.py
  timary/views/settings.py
Due: django-check, django-check-migrations, django-tests
