Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.2.0
    hooks:
      - id: debug-statements
      - id: trailing-whitespace
        exclude: (staticfiles)
      - id: end-of-file-fixer
        exclude: (staticfiles)
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args: [ '-iii', '-ll' ]
  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        exclude: (staticfiles)
      - id: djcss
        exclude: (staticfiles)
      - id: djjs
        exclude: (staticfiles)
  - repo: "https://github.com/pycqa/isort"
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: "https://gitlab.com/pycqa/flake8"
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: "https://github.com/psf/black"
    rev: 22.3.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: django-check
        name: Check django project for potential problems
        entry: sh -c 'python manage.py check'
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-check-migrations
        name: Check django project for missing migrations.
        entry: sh -c 'python manage.py makemigrations --check --dry-run'
        files: models.py
        types:
          - python
        pass_filenames: false
        language: system
      - id: django-tests
        name: Run Django tests.
        entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
        types:
          - python
        pass_filenames: false
        language: system

cleanup code
  Makefile
  staticfiles/css/dist/styles.22b1f67cad99.css
  staticfiles/css/dist/styles.22b1f67cad99.css.br
  staticfiles/css/dist/styles.22b1f67cad99.css.gz
  staticfiles/css/dist/styles.4f561b0b710d.css
  staticfiles/css/dist/styles.4f561b0b710d.css.br
  staticfiles/css/dist/styles.4f561b0b710d.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/hours/_update.html
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/_hours_list.html
  timary/templates/timary/index.html
  timary/tests/test_views/test_hours.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

add alert message when patching recurring hours
  timary/templates/hours/_patch.html
Due: none

fix wording
  timary/templates/hours/_patch.html
Due: none

update styling
  timary/templates/partials/_archive_invoice.html
  timary/templates/partials/_hour.html
  timary/templates/partials/_invoice.html
Due: none

cleanup ui for mobile
  staticfiles/css/dist/styles.556da312f2a1.css
  staticfiles/css/dist/styles.556da312f2a1.css.br
  staticfiles/css/dist/styles.556da312f2a1.css.gz
  staticfiles/staticfiles.json
  timary/models.py
  timary/templates/partials/_dashboard_stats.html
  timary/templates/partials/_hours_list.html
  timary/tests/test_forms.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

allow invoices to have decimal hourly rates
  timary/forms.py
  timary/migrations/0020_alter_invoice_invoice_rate.py
  timary/models.py
  timary/templates/partials/_invoice.html
  timary/tests/test_views/test_invoices.py
Due: django-check, django-check-migrations, django-tests

update default invoice rate
  timary/migrations/0021_alter_invoice_invoice_rate.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

fix recurring hours refreshing starting weeks on saturday
  timary/models.py
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-check-migrations, django-tests

fix referral logic to only add discount if trials successfully ends
  timary/migrations/0022_rename_referrer_id_user_referral_id.py
  timary/migrations/0023_user_referrer_id.py
  timary/migrations/0024_user_stripe_subscription_recurring_price.py
  timary/models.py
  timary/services/stripe_service.py
  timary/templates/partials/settings/account/_cancel_subscription.html
  timary/tests/test_models.py
  timary/tests/test_views/test_auth.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/auth.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

add discount if user cancels trial but re-activates later
  timary/services/stripe_service.py
Due: django-check, django-tests

reset stripe recurring price when cancelled
  timary/services/stripe_service.py
Due: django-check, django-tests

Update stripe_service.py
  timary/services/stripe_service.py
Due: django-check, django-tests

fix repeat yesterday hours to include valid repeating hours
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
Due: django-check, django-tests

add some ux improvements
  timary/templates/partials/_navbar.html
Due: none

add sample dashboard image
  timary/templates/timary/landing_page.html
Due: none

update header
  timary/templates/timary/landing_page.html
Due: none

update top fold of landing page
  timary/templates/timary/landing_page.html
Due: none

update screenshot for mobile
  timary/templates/timary/landing_page.html
Due: none

cleanup auth views
  staticfiles/css/dist/styles.ec0a86ae9f66.css
  staticfiles/css/dist/styles.ec0a86ae9f66.css.br
  staticfiles/css/dist/styles.ec0a86ae9f66.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/services/stripe_service.py
  timary/templates/auth/login.html
  timary/templates/auth/register.html
  timary/templates/partials/_navbar.html
  timary/templates/timary/registration/password_reset_form.html
  timary/tests/test_e2e.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix wording
  timary/templates/auth/register.html
Due: none

hide timer alert after 15s
  timary/templates/partials/_navbar.html
  timary/templates/timary/index.html
Due: none

update copy
  timary/templates/timary/landing_page.html
Due: none

update faqs
  timary/templates/timary/landing_page.html
Due: none

update sounds familar section
  timary/templates/timary/landing_page.html
Due: none

Update landing page (#29)
  timary/templates/timary/landing_page.html
Due: none

update styling assets
  staticfiles/css/dist/styles.7b1d24e93356.css
  staticfiles/css/dist/styles.7b1d24e93356.css.br
  staticfiles/css/dist/styles.7b1d24e93356.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

fix typo
  timary/templates/timary/landing_page.html
Due: none

update form styling
  timary/forms.py
  timary/templates/invoices/invoice_branding.html
  timary/templates/partials/settings/account/_edit_password.html
  timary/templates/partials/settings/account/_edit_payment_method.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

Update settings.py
  timary/views/settings.py
Due: django-check, django-tests

cleanup ui
  timary/templates/auth/register.html
  timary/templates/partials/_hours_list.html
Due: none

update styling
  staticfiles/css/dist/styles.1e393e176a20.css
  staticfiles/css/dist/styles.1e393e176a20.css.br
  staticfiles/css/dist/styles.1e393e176a20.css.gz
  staticfiles/staticfiles.json
  timarytailwind/static/css/dist/styles.css
Due: none

update landing page
  timary/templates/timary/landing_page.html
Due: none

allow hour min input entered by enter btn
  timary/templates/hours/_create.html
Due: none

fix hours update by enter key
  timary/forms.py
  timary/templates/hours/_update.html
  timary/tests/test_e2e.py
  timary/tests/test_views/test_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix patch hours update by enter key
  timary/templates/hours/_patch.html
Due: none

WIP: Create single invoice models
  timary/admin.py
  timary/migrations/0025_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
Due: django-check, django-check-migrations, django-tests

add single invoice form, view and template
  staticfiles/css/dist/styles.fedf8bf5057c.css
  staticfiles/css/dist/styles.fedf8bf5057c.css.br
  staticfiles/css/dist/styles.fedf8bf5057c.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0025_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/_single_invoice.html
  timary/templates/invoices/manage_invoices.html
  timary/templates/invoices/single_invoice.html
  timary/templates/timary/base.html
  timary/urls.py
  timary/views/invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

Fix constraint for interval and installment for single invoice
  timary/migrations/0025_singleinvoice_singleinvoicelineitem_and_more.py
  timary/models.py
  timary/templates/invoices/_single_invoice.html
Due: django-check, django-check-migrations, django-tests

add space between navbar buttons
  staticfiles/css/dist/styles.ef7a64907fd5.css
  staticfiles/css/dist/styles.ef7a64907fd5.css.br
  staticfiles/css/dist/styles.ef7a64907fd5.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/_navbar.html
  timarytailwind/static/css/dist/styles.css
Due: none
