Repository Afani97/Timary: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-tests

django-check:
  name: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system

django-check-migrations:
  name: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system

django-tests:
  name: Run Django tests.
  entry: sh -c 'python manage.py test --failfast --exclude-tag=ui'
  pass_filenames: false
  language: system

dont show unpause msg for sent hours
  timary/templates/partials/_hour.html
Due: none

exclude cancelled invoices in sync all view
  timary/templates/partials/_sent_invoice.html
  timary/views/accounting_views.py
Due: django-check, django-tests

Update manage_invoices.html
  timary/templates/invoices/manage_invoices.html
Due: none

Update accounting_views.py
  timary/views/accounting_views.py
Due: django-check, django-tests

add sent invoice date paid field + update total owed/earned
  timary/migrations/0051_sentinvoice_date_paid.py
  timary/models.py
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_views/test_invoices.py
  timary/tests/test_views/test_stripe_views.py
  timary/views/recurring_invoices.py
  timary/views/stripe_views.py
Due: django-check, django-check-migrations, django-tests

show income by year in account tax center sections
  timary/templates/invoices/milestone/_card.html
  timary/templates/partials/settings/account/_account.html
  timary/templates/partials/settings/account/_tax_center.html
  timary/templates/partials/settings/account/_view_tax_info.html
  timary/urls.py
  timary/utils.py
  timary/views/settings.py
Due: django-check, django-tests

update pay invoice ui
  timary/templates/invoices/pay_invoice.html
Due: none

cleanup tax center
  staticfiles/css/dist/styles.75cc15cc17cd.css
  staticfiles/css/dist/styles.75cc15cc17cd.css.br
  staticfiles/css/dist/styles.75cc15cc17cd.css.gz
  staticfiles/staticfiles.json
  timary/templates/partials/settings/account/_view_tax_center.html
  timary/views/settings.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update spreadsheet columns
  timary/utils.py
Due: django-check, django-tests

fix e2e tests
  timary/tests/test_e2e.py
Due: django-check, django-tests

add e2e tests for clients
  timary/templates/clients/_client.html
  timary/templates/invoices/manage_invoices.html
  timary/tests/test_e2e.py
Due: django-check, django-tests

add test for tax center summary
  timary/tests/test_views/test_profiles.py
Due: django-check, django-tests

add accounting mock tests + fix bugs
  timary/services/freshbooks_service.py
  timary/services/sage_service.py
  timary/services/zoho_service.py
  timary/tests/test_services/test_freshbooks.py
  timary/tests/test_services/test_quickbooks.py
  timary/tests/test_services/test_sage.py
  timary/tests/test_services/test_xero.py
  timary/tests/test_services/test_zoho.py
Due: django-check, django-tests

add copy hours e2e test
  timary/templates/invoices/milestone/_card.html
  timary/templates/partials/_hours_inner_list.html
  timary/templates/partials/_hours_list.html
  timary/tests/test_e2e.py
Due: django-check, django-tests

add e2e test for new hours in edit hours invoice modal
  staticfiles/css/dist/styles.56a9cff782a5.css
  staticfiles/css/dist/styles.56a9cff782a5.css.br
  staticfiles/css/dist/styles.56a9cff782a5.css.gz
  staticfiles/staticfiles.json
  timary/tests/test_e2e.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

update quick hours ui
  timary/templates/partials/_hours_list.html
Due: none

hours ui tweaks
  timary/templates/partials/_hours_list.html
Due: none

small ui tweaks
  staticfiles/css/dist/styles.a6fc39d31326.css
  staticfiles/css/dist/styles.a6fc39d31326.css.br
  staticfiles/css/dist/styles.a6fc39d31326.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/templates/partials/_hours_list.html
  timary/templates/partials/settings/account/_tax_center.html
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

only show quick hours for non-paused and non-archived invoices
  timary/hours_manager.py
  timary/tests/test_views/test_hours.py
Due: django-check, django-tests

fix invoice summary bug
  timary/tasks.py
Due: django-check, django-tests

update landing page
  timary/templates/timary/landing_page.html
Due: none

add fetch clients tests
  staticfiles/css/dist/styles.d28dd6764d79.css
  staticfiles/css/dist/styles.d28dd6764d79.css.br
  staticfiles/css/dist/styles.d28dd6764d79.css.gz
  staticfiles/staticfiles.json
  timary/tests/test_views/test_clients.py
  timary/views/clients.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-tests

fix tax center return template bug
  timary/templates/partials/settings/account/_view_tax_center.html
Due: none

fix tax center return template bug
  timary/tests/test_views/test_clients.py
Due: django-check, django-tests

filter out completed milestones from tracking hours
  timary/forms.py
  timary/hours_manager.py
  timary/models.py
  timary/tasks.py
  timary/tests/test_forms.py
  timary/tests/test_models.py
  timary/tests/test_tasks.py
  timary/tests/test_views/test_hours.py
  timary/views/hours.py
Due: django-check, django-check-migrations, django-tests

catch unsent schedule invoices
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-tests

exclude paused invoices when adding recurring hours
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-tests

add delete client action + client tests
  timary/templates/clients/_client.html
  timary/tests/test_forms.py
  timary/tests/test_views/test_clients.py
  timary/urls.py
  timary/views/clients.py
Due: django-check, django-tests

update js packages
  timary/templates/timary/base.html
Due: none

fix loading client delete bug
  timary/templates/clients/_client.html
Due: none

Fix bug not syncing badge shown after success
  timary/views/clients.py
Due: django-check, django-tests

add question how they found us in onboarding email
  timary/models.py
Due: django-check, django-check-migrations, django-tests

add loader for fetch from accounting
  timary/templates/invoices/manage_invoices.html
Due: none

add reminder to log hours
  timary/tasks.py
  timary/tests/test_tasks.py
Due: django-check, django-tests

small ui tweak
  timary/templates/hours/_create.html
Due: none

add feedback form for invoices to ask when archived
  staticfiles/css/dist/styles.0704491f8cb6.css
  staticfiles/css/dist/styles.0704491f8cb6.css.br
  staticfiles/css/dist/styles.0704491f8cb6.css.gz
  staticfiles/staticfiles.json
  timary/forms.py
  timary/migrations/0052_invoice_feedback.py
  timary/models.py
  timary/templates/invoices/_feedback.html
  timary/templates/partials/_archive_invoice.html
  timary/urls.py
  timary/views/recurring_invoices.py
  timarytailwind/static/css/dist/styles.css
Due: django-check, django-check-migrations, django-tests

allow linebreaks in feedback
  timary/templates/partials/_archive_invoice.html
Due: none

redirect already submitted feedback to landing page
  timary/views/recurring_invoices.py
Due: django-check, django-tests

don't include weekly invoice hours in total amount to inflate earnings
  timary/querysets.py
  timary/tests/test_querysets.py
Due: django-check, django-tests

prevent single invoice creating/updating without line items
  timary/tests/test_views/test_invoices.py
  timary/urls.py
  timary/views/single_invoices.py
Due: django-check, django-tests

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models.py and \.py$
  django-tests: any of: \.py$
